.bnt-leermas {
	border:1px solid $gold_color;
	height: 40px;
	z-index: 9999;
	display: table;
	@include transition(all 0.3s ease-in-out);
	a { 
		display: block;
		height:100%;
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		text:{align:center;transform:uppercase;}
		color:$gold_color; 
		font:{weight:bold;family:$second_font;size:1.2em;}
	}
	&:hover {
		background: $gold_color;
		a {
			color:$white_color;
		}
	} 
}
.btn-share-art {

}
@include keyframes(hover-oferta) {
  0% {
    @include transform(translateY(0));
    box-shadow: 0;
    -webkit-box-shadow: 0;
  }
  100% {
    @include transform(translateY(-4px));
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,0.2);
  }
}