.footer {
	@include span-columns(12); 
	background:$black_color;
	color:$white_color;
	margin:{top:20px;}
	padding: 0 20px;
	@include media($notebook) {
		padding: 10px 0;
	}
	.footer-top {
		@include span-columns(12);
		@include omega();
		border-bottom:1px solid $gray2_color;
		@include media($notebook) {
			@include outer-container(85%);
			float: none;
			display: block;
			margin:{top:0;bottom:10px;left:auto;right:auto;}
		}
		.logo-casas{
            @include span-columns(5);
            @include pad(31px 0);
           	@include media($mobileLand) {
           		@include span-columns(3);
           	}	
           	@include media($tablet) {
           		@include span-columns(3);
           	}
           @include media($tabletLand) {
           		@include span-columns(3);
           	}
            @include media($notebook) {
            	@include span-columns(2);
           		@include pad(15px 0);
            }	
            a {
            	@include transition(all 0.3s ease-in-out);
                svg {
                	display: block;
                	width: 100%;
                	height: auto;
                	fill:$gray1_color;
                	path {
                		fill:$gray1_color;
                	}
                }
            &:hover {
            	color:$gold_color;
            	svg {
                	fill:$gold_color;
                }
            }
        	}
        }
		.redes{
	        @include span-columns(5.5);
	        float: right;
	        @include omega();
	        padding: 0; 
	        @include media($mobileLand) {
           		@include span-columns(4);
           		float: right;
           	}
           	@include media($tablet) {
           		@include span-columns(4);
           		float: right;
           	}
           	@include media($tabletLand) {
           		@include span-columns(4);
           		float: right;
           	}
           	@include media($notebook) {
           		@include span-columns(3);
           		float: right;
           	}
	        li{
	            @include span-columns(3);
	            @include pad(20px 0);
	            text:{align:center;}
	            font:{size:2em;}
	            @include transition(all 0.3s ease-in-out);
	           	@include media($notebook) {
	           		font:{size:2.5em;}
	           	}	
	            a{
	                width: 100%;
	                height: 100%;
	                display: block;
	                color:$gray1_color;
	                @include transition(all 0.3s ease-in-out);
                 	&:hover {
	                	color:$gold_color;
	                	svg {
	                		fill:$gold_color;
	                	}
	                }
					svg {
	                	display: block;
	                	width: 100%;
	                	height: auto;
	                	fill:$gray1_color;
	                	path {
	                		fill:$gray1_color;
	                	}
	                }
	            }
	        } 
	    }
	}	
    .network {
    	@include span-columns(12);
		margin:0;
		@include pad(0);
		text:{align:center;}
		@include media($mobileLand) {
			@include outer-container(80%);
			margin: 0 auto !important;
			float: none;
		}
		@include media($tablet) {
			@include outer-container(60%);
			margin: 0 auto !important;
			float: none;
		}
		@include media($tabletLand) {
			@include outer-container(60%);
			margin: 0 auto !important;
			float: none;
		}
		@include media($notebook) {
			@include outer-container(75%);
			float: none;
			margin:0 auto !important;
			display: block;
			text:{align:center;}
			padding: 10px 0;
		}
		@include media($desktop) {
			@include outer-container(70%);
			float: none;
			margin:0 auto !important;
			display: block;
			text:{align:center;}
			padding: 20px 0;
		}
		li {
			list-style: none;
			@include span-columns(3.5);
			margin:{right:10px;bottom:5px;}
			float: none;
			display: inline-block;
			@include media($mobileLand) {
				@include span-columns(2.4);
				margin:{top:20px;bottom:20px;}
			}
			@include media($tablet) {
				@include span-columns(2.4);
				margin:{top:20px;bottom:20px;}
			}
			@include media($tabletLand) {
				@include span-columns(2.4);
				margin:{top:20px;bottom:20px;}
			}	
			@include media($notebook) {
				@include span-columns(1.3);
				float: none;
				display: inline-block;
			}
			a {
				width: 100%;
				display: table;
    			height: 40px;
	            @include transition(all 0.3s ease-in-out);
				svg {
                	display: block;
                	width: 100%;
                	height: auto;
                	fill:$gray1_color;
                	path {
                		fill:$gray1_color;
                	}
                }
				&:hover {
                	svg {
                		fill:$gold_color;
                	}
                }
			}
		}
	}
}