.footer {
	@include span-columns(12); 
	background:$black_color;
	color:$white_color;
	margin:{top:20px;}
	padding: 15px 10px;
	@include media($notebook) {
		padding: 30px 0;
	}
	.footer-top {
		@include span-columns(12);
		@include omega();
		border-bottom:1px solid $gray2_color;
		@include media($notebook) {
			@include outer-container(85%);
			float: none;
			display: block;
			margin:{top:0;bottom:10px;left:auto;right:auto;}
		}
		.redes{
	        @include span-columns(12);
	        @include omega();
	        padding: 0; 
	        @include media($notebook) {
				@include outer-container(80%);
				float: none;
				margin:0 auto !important;
				display: block; 
			}
	        li{
	            @include span-columns(1.5);
	            @include pad(20px 0);
	            text:{align:center;}
	            font:{size:1em;}
	            &.logo-casas{
	                @include span-columns(6);
	                @include pad(0);
	                @include media($notebook) {
	                	@include span-columns(9);
	               		@include pad(0);
	                }	
		        }
	            a{
	                color:$white_color;
	            }
	        } 
	    }
	}	
    .network {
    	@include span-columns(12);
		@include omega(0);
		@include pad(0);
		text:{align:center;}
		@include media($notebook) {
			@include outer-container(60%);
			float: none;
			margin:0 auto;
			display: block;
			text:{align:center;}
		}
		li {
			list-style: none;
			@include span-columns(3);
			margin:{right:10px;bottom:5px;}
			float: none;
			display: inline-block;
			@include media($notebook) {
				@include span-columns(1);
				float: none;
				display: inline-block;
			}
			a {
				@include span-columns(12);
				img {
					width: 100%;
					height: auto;
					display: block;
				}
			}
		}
	}
}