.section-loop-3cat {
	@include span-columns(12);
	margin:0;
	padding: 10px;
	@include media($notebook) {
		padding: 0;
	}
	.post-articulo {
		@include span-columns(12);
		@include omega();
		@include media($notebook) {
			@include span-columns(4);
		}
		.title-section {
			text:{align:left;}
			margin:{top:20px;bottom:10px;}
		}
		.imagen-post {
			@include span-columns(12);
			@include omega();
			height: 300px;
			position: relative;
			background-size:cover;
			background-position: center;
			.read-more {
				position: absolute;
				background: $gold_color;
				border:1px solid $gold_color;
				text:{align:center;}
				top: 260px; 
				display: table;
				height: 40px !important;
				width: 100px !important;
				top: 260px !important;
				right: 0 !important;
				z-index: 99999;
				@include media($notebook) {
					right:0;
					right: initial;
				}
				a {
					display: table-cell;
					vertical-align: middle;
					font:{size: 1.5em;weight:600;family:$second_font;style:italic;}
					color:$white_color;
				}
				&:hover {
					background: $white_color;
					border:1px solid $gold_color;
					a {
						color:$gold_color;
					}
				}
			}
		} 	
	}
}