.section-loop-apaisado {
	@include span-columns(12);
	@include omega();
	.title-section {
		@include span-columns(12);
		@include omega();
		text:{align:left;}
	}
	ul {
		@include span-columns(12);
		@include pad(0);
		margin:0;
		li {
			@include span-columns(12);
			@include omega();
			list-style: none;
			margin:{bottom:30px;}
			position: relative;
			.imagen-post {
				@include span-columns(12);
				@include omega();
				height: 300px;
				position: relative;
				background-size:cover;
				background-position: center;
				@include media($notebook) {
					@include span-columns(4);
				}
			}
			.inter-article {
				@include span-columns(12);
				@include omega();
				@include media($notebook) {
					@include span-columns(8);
					@include omega();
					display: table;
					height: 300px;
				}
				.content-article {
					@include span-columns(12);
					@include omega();
					@include media($notebook) {
						display: table-cell;
						vertical-align: middle;
						float: none;
					}
				}
			}
			.read-more {
				height:40px;
				width: 100px;
				background: $gold_color;
				position: absolute;
				right: 0;
				top: 260px; 
				text:{align:center;}
				display: table;
				@include media($notebook) {
					left:0;
					right: initial;
				}
				a {
					display: table-cell;
					vertical-align: middle;
					font:{size: 1.5em;weight:600;family:$second_font;style:italic;}
					color:$white_color;
				}
			}
		}
	}
}