.section-loop-apaisado {
	@include span-columns(12);
	@include omega();
	.title-section {
		@include span-columns(12);
		@include omega();
		text:{align:left;}
	}
	ul {
		@include span-columns(12);
		@include pad(0);
		margin:0;
		li {
			@include span-columns(12);
			@include omega();
			list-style: none;
			margin:{bottom:30px;}
			.imagen-post {
				@include span-columns(12);
				@include omega();
				height: 300px;
				position: relative;
				background-size:cover;
				background-position: center;
				@include media($notebook) {
					@include span-columns(4);
				}
			}
			.inter-article {
				@include span-columns(12);
				@include omega();
				position: relative;
				@include media($notebook) {
					@include span-columns(8);
					@include omega();
					display: table;
					height: 300px;
				}
				.content-article {
					@include span-columns(12);
					@include omega();
					@include media($notebook) {
						display: table-cell;
						vertical-align: middle;
						float: none;
					}
					.bajada-post {
						display: none;
						@include media($notebook) {
							display: block;
							text:{transform:lowercase;}
							font-size: 1.3em;
							line-height: 24px;
							margin:{top:15px;bottom:10px;}
						}
					}
				}
			}
			.read-more {
				height:40px;
				width: 100px;
				border:1px solid $gold_color;
				background: $gold_color;
				position: absolute;
				right: 0;
				top: -40px;
				text:{align:center;}
				display: table;
				z-index: 99999;
				@include transition(all 0.3s ease-in-out);
				@include media($notebook) {
					left:0;
					right: initial;
					top: 260px; 
				}
				a {
					display: table-cell;
					vertical-align: middle;
					font:{size: 1.5em;weight:600;family:$second_font;style:italic;}
					color:$white_color;
				}
				&:hover {
					border:1px solid $gold_color;
					background: $white_color;
					a {
						color:$gold_color;
					}
				}
			}
		}
	}
}