.section-loop-vertical {
	@include span-columns(12);
	@include omega();
	@include media($notebook) {
		@include span-columns(3.9);
	}
	.title-section {
		@include span-columns(12);
		@include omega();
		text:{align:left;}
	}
	ul {
		@include span-columns(12);
		@include pad(0);
		margin:0;
		li {
			@include span-columns(12);
			@include omega();
			list-style: none;
			margin:{bottom:30px;}
			position: relative;
			border-bottom:1px solid $gold_color;
			.imagen-post {
				@include span-columns(4);
				@include omega();
				height: 100px; 
				position: relative;
				background-size:cover;
				background-position: center;
				@include media($notebook) {
					@include span-columns(4);
					@include omega();
				}
				.share-post {
					.inter-share {
						.title-share {
							display: none;
							font:{size:1em !important;}
						}
						.social-ul {
							margin:{top:0;}
							.social-list {
								@include span-columns(6);
								text:{align:center;}
								margin:0;
								a {
									font:{size:20px !important;}
									margin:{right: 5px !important;}
								}
							}	
						}
						.btn-share-art {
							display: none !important;
						}
					}
				} 
				.share-mobile {
					width: 25px;
					height: 25px;
					i {
						font:{size: 1.2em;}
					}
				}
			}
			.inter-article {
				@include span-columns(8);
				@include omega();
				display: table;
				height: 100px;
				.content-article {
					@include span-columns(12);
					@include omega();
					padding:0 10px;
					display: table-cell;
						vertical-align: middle;
						float: none;
					.title-post {
						font:{size: 1.4em;}
						@include media($notebook) {
							font:{size: 1em;}
							margin:{top: 0;}
						}
						@include media($desktop) {
							font:{size: 1.4em;}
    						margin:{top: 5px;}
						}
					}
				}
			}
			.read-more {
				height:40px;
				width: 100px;
				background: $white_color;
				border:1px solid $gold_color;
				position: absolute;
				top: 260px; 
				text:{align:center;}
				display: table;
				height: 30px;
				width: 80px;
				top: 71px;
				right: 0;
				z-index: 99999;
				@include transition(all 0.3s ease-in-out);
				@include media($notebook) {
					right:0;
					left: initial;
				}
				a {
					display: table-cell;
					vertical-align: middle;
					font:{size: 1em;weight:600;family:$second_font;style:italic;}
					color:$gold_color;
					text:{transform:uppercase;}
				}
				&:hover {
					background: $gold_color;
					border:1px solid $gold_color;
					a {
						color:$white_color;
					}
				}
			}
			&:nth-child(1) {
				@include span-columns(12);
				@include omega();
				list-style: none;
				margin:{bottom:30px;}
				position: relative;
				border: 0;
				.imagen-post {
					@include span-columns(12);
					@include omega();
					height: 300px;
					position: relative;
					background-size:cover;
					background-position: center;
					@include media($notebook) {
						@include span-columns(12);
						@include omega();
						height: 240px;
					}
					@include media($desktop) {
						@include span-columns(12);
						@include omega();
						height: 300px;
					}
					.share-post {
						.inter-share {
							top:30%;
							.title-share {
								display:block;
								font:{size:1em !important;}
							}
							.social-ul {
								margin:{top:30px;}
								.social-list {
									@include span-columns(3);
									text:{align:center;}
									margin:0;
									a {
										font:{size:30px !important;}
										margin:{right: 5px !important;}
									}
								}	
							}
							.btn-share-art {
								display: block !important;
							}
						}
					} 
					.share-mobile {
						width: 35px;
						height: 35px;
						i {
							font:{size:1.8em;}
						}
					}
				}
				.read-more {
					position: absolute;
					top: 260px; 
					display: table;
					height: 40px !important;
					width: 100px !important;
					top: 260px !important; 
					right: 0 !important;
					background:$gold_color;
					@include media($notebook) {
						right:0;
						left: initial;
						top: 200px !important; 
					}
					@include media($desktop) {
						right:0;
						left: initial;
						top: 260px !important; 
					}
					a {
						display: table-cell;
						vertical-align: middle;
						font:{size: 1.3em;weight:600;family:$second_font;style:italic;}
						color:$white_color;
					}
					&:hover {
						background:$white_color;
						a {
							color:$gold_color;
						}
					}
				}
				.inter-article {
					@include span-columns(12);
					@include omega();
					height:  initial;
					@include media($notebook) {
						@include span-columns(12);
						@include omega();
					}
					.content-article {
						@include span-columns(12);
						@include omega();
						@include media($notebook) {
							padding:10px 0;
						}
						.title-post {
							font:{family:$second_font;size: 2em;}
							@include media($notebook) {
								font:{size: 2em; }
								line-height: 25px;
							}
							@include media($desktop) {
								font:{size: 2em; }
								line-height: 30px;
							}
						}	
					}
				}
			}
		}
	}
}