.menuCasas {
	@include span-columns(12);
	@include media($notebook) {
		@include outer-container(95%);
		float: none;
		margin: 0 auto !important;
		padding: 0;
	}
	@include media($desktop) {
		@include outer-container(85%);
		float: none;
		margin: 0 auto !important;
		padding: 0;
	}
	&.menuMobile {
		@include span-columns(12);
		padding:{top:12px;right: 10px;bottom: 10px;left: 10px;}
		-webkit-box-shadow: 0px 2px 9px 0px rgba(135,135,135,0.57);
		-moz-box-shadow: 0px 2px 9px 0px rgba(135,135,135,0.57);
		box-shadow: 0px 2px 9px 0px rgba(135,135,135,0.57);
		background: $white_color;
		top: -1px;
		position: fixed;
   		z-index: 999999;
		@include media($notebook) {
			position: relative;
			box-shadow: none;
			@include pad(25px 0);
			margin: 0 auto !important;
			float: none;
		}
		.mobile-icon-menu {
			@include span-columns(1.5);
			@include omega;
			position: absolute;
			top:5px;
			right:10px;
			z-index: 99999999;
			float:right;
			font:{size: 3em;}
			color:$gold_color;
			@include media($mobileLand) {
				top: 8px;
				right: 17px;
				text:{align: right;}
			}
			@include media($tablet) {
				text:{align: right;}
				padding:{right: 20px;}
				top:8px;
			}
			@include media($tabletLand) {
				text:{align: right;}
				padding:{right: 20px;}
				top:8px;
			}
			@include media($notebook) {
				display: none;
			}
		}
	}
	.logo {
		@include span-columns(5);
		@include omega();
		@include media($mobileLand) {
			@include span-columns(3);
		}
		@include media($tablet) {
			@include span-columns(3);
		}
		@include media($tabletLand) {
			@include span-columns(2);
		}
		@include media($notebook) {
			@include span-columns(3.5);
			display: block;
			padding: {bottom:0;}
		} 
		@include media($desktop) {
			@include span-columns(3.5);
			display: block;
			padding: {bottom:20px;}
		} 
		a {
			width: 100%;
			height: 100%;
			display: block;
			svg {
				width: 100%;
				height: 100%;
				display: block;
				fill:$gold_color;
			}
		}
	}
	.rrss-desktop {
		@include span-columns(7);
		@include omega();
		float: right;
		display: none;
		height: 85px;
		@include media($notebook) {
			height:95px;
			display: table;
		}
		@include media($desktop) {
			height: 115px;
			display: table;
		}
		ul {
			@include span-columns(3);
			@include pad(0);
			margin: 0;
			text:{align:right;}
			display: table-cell;
			vertical-align: middle;
			float: none;
			li {
				list-style: none;
				display: inline-block;
				font:{size: 2em;}
				margin:{right: 20px;}
				.current-date {
					font:{size:0.7em;style:italic;}
				}
				a {
					color:$gray1_color;
					@include transition(all 0.3s ease-in-out);
					&:hover {
						color:$gold_color;
					}
				}
			}
		}
	}
	.navegacion-home{
		@include span-columns(12);
		@include omega();
		border:1px solid $gray1_color;
		border-left:0;
		border-right: 0;
		@include pad(10px 5px);
		display: none;
		@include media($notebook) {
			display: block;
			position: relative;
		}
		.nav {
			@include span-columns(10);
			display: none;
			margin:{top:5px;}
			@include media($notebook) {
				display: block;
			}
			.desktop-nav {
				ul {
					@include span-columns(12);
					@include omega();
					@include pad(0);
					margin:0;
					li {
						list-style: none;
						display: inline-block;
						font:{family:$second_font;size: 1.2em;}
						margin:{right: 20px;}
						@include transition(all 0.3s ease-in-out);
						@include media($desktop) {
							font:{size: 1.5em;}
						}
						&.current-menu-item {
							a {
								color:$gray2_color;
								font:{weight:bold;}
							}
						}
						&:hover {
							a {
								color:$gray1_color;
							}
						}
					}
				}
			}	
		}
		.buscar-home {
			@include span-columns(1);
			@include omega();
			float: right;
		    font-size: 2em;
			text-align: right;
			color:$gray1_color;
			@include transition(all 0.3s ease-in-out);
			&.hide-search-home {
				display: none;
			}
			&:hover {
				color: $gold_color;
			}
		}
	}
	.buscador-open {
		@include span-columns(12);
		height: 300px;
		position: absolute;
		z-index: 9999;
		background: $white_color;
    	left: 0;
		display: none;
    	&.show-search {
    		display: block;
    	}
    	.buscador-desk {
    		@include span-columns(12);
    		margin: 0 auto;
    		padding:0;
    		display: table;
    		height: 300px;
    		.search-formulario {
    			@include span-columns(12);	
    			display: table-cell;
    			vertical-align: middle;
    			float: none;
    			form {
    				@include outer-container(90%);
    				border-bottom:1px solid $gray1_color;
	    			.search-input {
						@include span-columns(10);	
						@include omega();
						background: none;
						color:$gray1_color;
						border: 0;
						font:{size: 3em;family:$second_font;weight:900;}
						outline: none;
						@include placeholder {
							color:$gray2_color;
							text:{transform:uppercase;}
			    			font:{style:italic;}
						}
					}
					.search-submit {
						@include span-columns(2);	
						@include omega();
						background: none;
						color: $gray1_color;
						font:{size:2em;}
						border:0;
						text:{align:right;}
						padding: {bottom:5px;}
						outline: none;
						float: right;
					}	
    			}
    		}
    		.close-search {
    			@include span-columns(3);
    			@include omega();
    			text:{align:right;}
    			position: absolute;
    			right: 0;	
    			color: $gray1_color;
    			font:{size: 13px;}
    			i {
    				color: $gray1_color;
    				font:{size:2em;}
    			}
    		}
    	}
	}
}
.MenuMobile-Open {
	@include span-columns(12);
	@include pad(15px 20px);
	display: none;
	background: $black_color;
	position: absolute;
	position: fixed;
    left: 0;
    top: 0;
    overflow-x: scroll;
    height: 100%;
	&.openMobile {
		display: block;
   		z-index: 99999999;
	}
	.header-MenuMobile {
		@include span-columns(12);
		@include media($tablet) {
			margin:{bottom: 15px;}
		}
		@include media($tabletLand) {
			margin:{bottom: 25px;}
		}
		.logo {
			@include span-columns(5);
			@include media($mobileLand) {
				@include span-columns(3);
			}
			@include media($tablet) {
				@include span-columns(3);
			}
			@include media($tabletLand) {
				@include span-columns(3);
			}
			a {
				width: 100%;
				height: 100%;
				display: block;
				svg {
					width: 100%;
					height: auto;
					display: block;
					fill:$gray1_color;
				}
			}
		}
		.mobile-icon-menu {
			@include span-columns(1.5);
			@include omega;
			position: absolute;
			top:5px;
			right:10px;
			z-index: 99999999;
			float:right;
			font:{size: 3em;}
			color:$gold_color;
			@include media($mobileLand) {
				top: 8px;
				right: 17px;
				text:{align: right;}
			}
			@include media($tablet) {
				top: 7px;
    			right: 30px;
				text:{align: right;}
			}
			@include media($tabletLand) {
				text:{align: right;}
				right: 30px;
			}
			@include media($notebook) {
				display: none;
			}
		}
	}
	.search-menu-mob {
		@include span-columns(12);
		@include omega();
		padding: {top:20px;}
		border-bottom:1px solid $gold_color;
		@include media($tablet) {
			@include outer-container(80%);
			margin: 0 auto !important;
			float: none;
		}
		@include media($tabletLand) {
			@include outer-container(80%);
			margin: 0 auto !important;
			float: none;
		}
		.search-input {
			@include span-columns(10);	
			@include omega();
			background: none;
			color:$gold_color;
			border: 0;
			font:{size: 2em;family:$second_font;weight:900;}
			outline: none;
			@include placeholder {
				color:$gold_color;
				text:{transform:uppercase;}
    			font:{style:italic;}
			}
		}
		.search-submit {
			@include span-columns(2);	
			@include omega();
			background: none;
			color: $gold_color;
			font:{size:2em;}
			border:0;
			text:{align:right;}
			padding: {bottom:5px;}
			outline: none;
		}
	}
	.menu-mob {
		@include span-columns(12);
		@include omega();
		.nav {
			ul {
				@include span-columns(12);
				@include omega();
				@include pad();
				margin:0;
				@include media($tablet) {
					padding: 30px 0;
				}
				@include media($tabletLand) {
					@include outer-container(80%);
					margin: 0 auto !important;
					float: none;
				}
				li {
					list-style: none;
					font:{family:$second_font;size: 1.8em;}
					margin:{bottom:5px;}
					text:{align: center;}
					@include media($tablet) {
						font:{size: 3em;}
						margin:{bottom:10px;}
					}
					@include media($tabletLand) {
						text:{align:left;}
						@include span-columns(6);
						@include omega();
						font:{size: 3em;}
    					margin:{bottom: 14px;}
					}	
					a {
						color:$gold_color;
					}
				}
			}
		}	
	}
	.follow-us {
		@include span-columns(12);
		@include omega();
		border-bottom:1px solid $gray2_color;
		ul {
			@include span-columns(12);
			@include omega();
			@include pad();
			text:{align:center;}
			@include media($mobileLand) {
				padding: 0;
				margin: {top:0;bottom:20px;}
			}
				li {
				color:$gray1_color;
				list-style: none;
				display: inline-block;
				font:{family:$second_font;size: 1.5em;weight: bold;}
				margin:{right:5px;}
				@include media($mobileLand) {
					margin:{right:10px;} 
				}
				i {
					color:$gold_color;
					
					font:{size: 1.7em}
				}
				&.title-li {
					p {
						color:$gray1_color;
						margin:0;
						display: table-cell;
						vertical-align: middle;
					}
				}
			}
		}
	}
	.logotypes {
		@include span-columns(12);
		@include omega();
		ul {
			@include span-columns(12);
			@include omega(0);
			@include pad(0);
			text:{align:center;}
			@include media($mobileLand) {
				@include outer-container(80%);
				margin:0 auto !important;
				float: none;
			}
			@include media($tablet) {
				@include outer-container(65%);
				margin:0 auto !important;
				float: none;
			}
			@include media($tabletLand) {
				@include outer-container(65%);
				margin:0 auto !important;
				float: none;
			}
			li {
				list-style: none;
				@include span-columns(3);
				margin:{right:10px;bottom:5px;}
				float: none;
				display: inline-block;
				@include media($mobileLand) {
					@include span-columns(2.4);
					margin:{top:5px;bottom:5px;}	
				}
				@include media($tablet) {
					@include span-columns(2.4);
					margin:{top:5px;bottom:5px;}	
				}
				@include media($tabletLand) {
					@include span-columns(2.3);
					margin:{top:5px;bottom:5px;}	
				}
				a {
					width: 100%;
					height: 100%;
					display: block;
					svg {
						width: 100%;
						height: auto;
						display: block;
						fill: $gray1_color;
					}
				}
			}
		}
	}
}