.product {
	.woocommerce-breadcrumb {
		font:{size:1.4em !important;}
	}
	.precio-menusal-box {
		&.single-price {
			text:{align:left;}  
		}
	}
	.button {
		background: none !important;
		border: 1px solid #000 !important;
		border-radius: 0 !important;
		color: #000 !important;
		padding: 13px 10px !important;
		&:hover {
			background: #000 !important;
			border: 1px solid #000 !important;
			color: #fff!important;
		}
	}
	.quantity {
		.input-text {
			border:1px solid #ccc;
			height: 40px;
    		font-size: 1.5em;
    		width: 46px;
		}
	}
	.description {
		margin:{top:10px !important;}
		@include media($notebook) {
			margin:{top:20px !important;}
		}
		.nombre-descrip {
			text:{transform:uppercase;}
			font:{size:1.2em;weight:bold;}
		}
		p {
			font:{size:14px;}
			line-height: 23px;
			margin:{top: 2px;}
		}
	}
	#reviews {
		textarea {
			border:1px solid #ccc !important;
		}
		.submit {
			display: block;
			margin: 0 auto;
			width: 150px;
			text:{align: center;transform: uppercase;}
			padding: 13px 10px;
			background: none !important;
			border-radius: 0 !important;
			border: 1px solid #000 !important;
			border-radius: 0;
			color:  #000 !important;
			&:hover {
				background:  #000 !important;
				border: 1px solid  #000 !important;
				color:  #fff !important;
			}
		}
	}
}