/.sass-cache
/.sass-cache/
.sass-cache
/app/wp-content/uploads/
/app/wp-content/uploads
app/wp-content/uploads/
/app/wp-content/themes/cosas/css/cosas.min.css
/app/wp-content/themes/cosas/css/cosas.min.css.map
app/wp-content/themes/cosas/css/cosas.min.css
app/wp-content/themes/cosas/css/cosas.min.css.map
/app/wp-content/themes/cosas/css/cosas.min.css/
/app/wp-content/themes/cosas/css/cosas.min.css.map/

/app/wp-content/themes/casas/css/casas.min.css
/app/wp-content/themes/casas/css/casas.min.css.map
app/wp-content/themes/casas/css/casas.min.css
app/wp-content/themes/casas/css/casas.min.css.map
/app/wp-content/themes/casas/css/casas.min.css/
/app/wp-content/themes/casas/css/casas.min.css.map/
