.single-brandedcontent{
	@include row();
	h1{
		@include outer-container(800px);
		@include row();
		@include textAlign(center);
		font:{size:em(30px);family:$playFair;}
		margin:{bottom:0;}
	}
	h2{
		@extend h1;
		font:{size:em(20px);}
		margin: {top:0;}
	}
	h3{
		@extend h1;
		font:{size:em(23px);style:italic;}
		margin: {top:0;}
		text:{transform:uppercase;}
	}
	h4{
		@extend h1;
		font:{size:em(21px);}
		@include textAlign(left);
	}
	small{
		@extend h1;
		font:{size:em(8px);}
		text:{transform:uppercase;}
		color:$greyOne;
		margin:20px auto;
	}
	p{
		@include outer-container(800px);
		font:{size:em(10px);family:$openSans;}
		@include textAlign(center);
		color:$greyTwo;
		line:{height:2.2;}
		@include pad(10px 30px);
	}
	hr{
		border:4px solid $black;
		margin:0 auto;
		max-width:46px;
	}
	.videoContent{
		@include row();
		height:auto;
		iframe{
			@include row();
			width:100%;
			max-height:540px;
			@include media($notebook){
				min-height:770px
			}
		}
	}
	.sharecontent{
		@include outer-container(800px);
		@include row();
		clear: both;
    	margin: 30px auto;
		.shares-post{
			@include span-columns(12);
			a{
				@include span-columns(1.5);
				@include transform(rotate(45deg));
				height: 39px;
				max-width: 39px;
				min-width: 39px;
				border:1px solid $black;
				color:$black;
				display:table;
				@include textAlign(center);
				&:first-child{
					@include shift(2);
				}
				i{
					display: table-cell;
					vertical-align: middle;
					@include transform(rotate(-45deg));
				}
			}
		}
	}
	.swiper-gallery{
		position: relative;
  		overflow: hidden;
		.shadow-opt{
			position: absolute;
			width: 100%;
			height: 100%;
			max-height:822px;
			z-index: 2;
			@include linear-gradient(90deg, $black 0%, transparent 50%, $black 100%);
			background: {color:transparent !important;}
		}
		.swiper-wrapper{
			z-index: 1;
			.swiper-slide{
				max-height:822px;
				a{
					width:100%;
					height: 100%;
					display: block;
					img{
						width:100%;
						height: auto;
						display: block;
					}
				}
			}
		}
		.arrows{
			position: absolute;
			z-index: 3;
			top: 50%;
			right:5%;
			border:1px solid $white;
			display:table;
			height: 39px;
			max-width: 39px;
			min-width: 39px;
			@include textAlign(center);
			@include transform(rotate(45deg));
			color:$white;
			&.prev-gallery{
				left:5%;
			}
			i{
				display: table-cell;
				vertical-align: middle;
				@include transform(rotate(-45deg));
			}
		}
		.swiper-pagination{
			position: relative;
			background: {color:$white;}
			@include pad(10px 0);
			bottom:-1px;
			.swiper-pagination-bullet{
				background: {color:$greyTwo;}
				width:15px;
				height:15px;
				&.swiper-pagination-bullet-active{
					background: {color:$greyOne;}
				}
			}
		}
	}
	.finalcontent{
		clear:both;
		@include row();
		p{
			@include textAlign(left);
			@include pad(0);
		}
		hr{
			margin:0;
		}
	}
}