//CLASESS
.no-margins{
	margin:0;
}
.img-adapt{
	width:100%;
	height:auto;
	display:block;
}
.titulosh3{
	@include span-columns(12);
	@include pad(10px);
	border: {left:solid 2px $red;}
	background:{color: #000;}
	color:$white;
	font:{size:em(12);family:$openSans;}
	text:{transform:uppercase;}
}
a{
	text:{decoration:none;}
}
ul{
	@extend .no-margins;
	@include pad(0);
	list:{style:none;}
	li{
		@extend .no-margins;
		@include pad(0);
	}
}
//MIXINS
@mixin textAlign($align){
	text:{align:$align;}
}