//CLASESS
.no-margins{
	margin:0;
}
.img-adapt{
	width:100%;
	height:auto;
	display:block;
}
a{
	text:{decoration:none;}
}
ul{
	@extend .no-margins;
	@include pad(0);
	list:{style:none;}
	li{
		@extend .no-margins;
		@include pad(0);
	}
}
//MIXINS
@mixin textAlign($align){
	text:{align:$align;}
}