//CLASESS
.no-margins{
	margin:0;
}
.img-adapt{
	width:100%;
	height:auto;
	display:block;
}
.titulosh3{
	@include span-columns(11.3);
	@include shift(.3);
    margin:{top: 5px;bottom:5px;}
	@include pad(10px);
	border: {left:solid 2px $red;}
	background:{color: #000;}
	color:$white;
	font:{size:em(12);family:$openSans;}
	text:{transform:uppercase;}
    @include media($notebook){
        @include span-columns(8.5);
        @include shift(0);
    }
}
.titulosh3-large{
    @extend .titulosh3;
    @include span-columns(12);
}
.hide{
    display: none;
}
svg{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
a{
	text:{decoration:none;}
}
ul{
	@extend .no-margins;
	@include pad(0);
	list:{style:none;}
	li{
		@extend .no-margins;
		@include pad(0);
	}
}
//MIXINS
@mixin textAlign($align){
	text:{align:$align;}
}
@mixin borderRadius($radios){
    @include border-top-radius($radios);
    @include border-right-radius($radios);
    @include border-bottom-radius($radios);
    @include border-left-radius($radios);
}