.site-footer{
    @include span-columns(12);
    background:{color: #000;}
    color:$white;
    .newsletter{
        @include row();
        clear:both;
        background:{color: #eee;}
        @include pad(10px 20px);
        .titus{
            @extend .titulosh3;
            color:#000;
            font:{size:em(15);}
            background:{color: #eee;}
            border:{left:2px solid #000;}
            @include media($notebook){
                border:{left:none;right:1px solid #000;}
                @include span-columns(2.5);
                @include shift(1);
                @include textAlign(right);
            }
        }
        form{
            @include row();
            input{
                @include span-columns(12 of 12);
                border:1px solid #000;
                background:{color: #eee;}
                margin:{top:10px;}
                @include pad(10px);
                &[type="submite"]{
                    background:{color: #000;}
                    @include textAlign(center);
                    color:#fff;
                    text:{transform:uppercase;}
                    font:{size:em(13);}
                }
                @include media($notebook){
                    @include span-columns(3);
                    &[type="submite"]{
                        @include span-columns(2);
                    }
                }
            }
        }
    }
    .redes{
        @include span-columns(12);
        background:{color: #222222;}
        li{
            @include span-columns(1.5);
            @include textAlign(center);
            @include pad(20px 0);
            position: relative;
            overflow: hidden;
            &.logo-cosas{
                @include span-columns(6);
                @include pad(0);
                .footer-red{
                    fill:#fff;
                }
                @include media($notebook){
                    @include span-columns(6);
                    svg{
                        max-height:66px;
                    }
                }
            }
            a{
                color:$white;
            }
            @include media($notebook){
                @include span-columns(1);
                &:nth-child(2){
                    @include shift(1);
                }
            }
        }
    }
    .network {
    	@include span-columns(12);
		margin:0;
		@include pad(0);
		text:{align:center;}
		li {
			list-style: none;
			@include span-columns(3.5);
			margin:{right:10px;bottom:5px;}
			float: none;
			display: inline-block;
			@include media($mobileLand) {
				@include span-columns(2.4);
				margin:{top:20px;bottom:20px;}
			}
			@include media($tablet) {
				@include span-columns(2.4);
				margin:{top:20px;bottom:20px;}
			}
			@include media($tabletLand) {
				@include span-columns(2.4);
				margin:{top:20px;bottom:20px;}
			}	
			@include media($notebook) {
				@include span-columns(1.3);
				float: none;
				display: inline-block;
			}
			a {
				width: 100%;
				display: table;
    			height: 40px;
	            @include transition(all 0.3s ease-in-out);
				svg {
                	display: block;
                	width: 100%;
                	height: auto;
                    fill:#999;
                	path {
                		fill:#999;
                	}
                }
				&:hover {
                	svg {
                		fill:#999;
                	}
                }
			}
		}
	}
}