body{
	@extend .no-margins;
    @include pad(0);
	font:{family:$openSans;}
	.site{
		@include row();
        position: relative;
		.search-content{
			display: none;
		}
		.site-content{
			@include row();
            @include media($notebook){
                @include span-columns(10);
                @include shift(1);
            }
		}
	}
}