.site-header{
	@include span-columns(12);
	background:{color: #000}
	clear:both;
	.logo-medio{
		@include span-columns(6);
        @include omega();
        background:{color: $red;} 
        .logo-head{
            fill:$white;
        }
        @include media($notebook){
            @include span-columns(2);
        }
	}
	.main-navigation{
        @include direction-context(right-to-left){
            @include span-columns(2);
        }
        @include omega();
        @include pad(15px 0);
        @include textAlign(center);
		i{
			color: #999;
			font:{size:em(30)}
			cursor:pointer;
		}
        @include media($notebook){
            display:none;
        }
	}
    @include media($notebook){
        .meta-info{
            color:#b5b5b5;
            font:{size:10px;family:$openSans}
            @include pad(30px 0);
            @include direction-context(right-to-left){
                @include span-columns(3);
            }
            span{
                @include span-columns(6);
            }
            .redes{
                @include span-columns(6);
                ul{
                    li{
                        @include span-columns(3);
                        @include textAlign(center);
                        a{
                            color:#b5b5b5;
                            i{
                                font:{size:em(25);}
                            }
                        }
                    }
                }
            }
        }
    }
	.main-search{
		@extend .main-navigation;
	}
}
.last-content{
	@include row();
	clear:both;
	@include pad(em(10));
	background:{color:#363636}
	color:#fff;
	.main-last{
		@include span-columns(4);
		@include omega;
		background:{color: #fa4b2a;}
		@include textAlign(center);
		@include pad(em(10));
		height: 91px;  
        @include media($notebook){
            display:none;
        }
		span{
			font:{size:em(60)}
			line:{height:50px}
		}
		p{
			@extend .no-margins;
			@include pad(0);
			line:{height: 1;}
			font:{size:em(10)}
			text:{transform:uppercase;}
		}
	}
	.post-last{
		@include span-columns(8.25);
		background:{color: #272727;}
		font:{weight:bold;size:em(12)}
		height: 91px;
		position: relative;
    	overflow: hidden;
        @include media($notebook){
            display:none;
        }
    	.rslides {
			position: relative;
			list-style: none;
			overflow: hidden;
			@include span-columns(10);
			li {
				-webkit-backface-visibility: hidden;
				position: absolute;
				display: none;
				width: 100%;
				left: 0;
				top: 0;
				&:first-child {
					position: relative;
					display: block;
					float: left;
				}
				span{
					@include span-columns(12);
					color:$red;
					font:{size:em(12);}
					text:{transform:uppercase;}
					margin: {top:10px;left:10px;}
				}
				a{
					@include span-columns(12);
					color:$white;
					font: {size:em(12);}
					text:{decoration:none;transform:capitalize}
					margin: {left:10px}
				}
			}
		}
		.rslides_nav{
			@include textAlign(center);
			position: absolute;
            top: 0;
            right:0;
            z-index: 999;
            display: table;
            width: 45px;
            height: 45px;
            text-decoration: none;
            cursor: pointer;
            border:{left:1px solid #323232}
            color:#323232;
            i{
                display: table-cell;
                vertical-align: middle;
                font:{size:em(28);}
            }
            &.next{
                border:{bottom:1px solid #323232}
            }
            &.prev{
                top:45px;
            }
		}
	}
    .nav-deskt{
        @extend .hide;
        @include media($notebook){
            @include span-columns(10);
            @include shift(2);
            
        }
    }
}
.menu-list{
    position: fixed;
    right:-250px;
    top:0;
    bottom:0;
    width:250px;
    height: 100%;
    background:{color: #2b2b2b;}
    box-shadow:5px 0px 30px #000 inset;
    .menu-logo{
        @include span-columns(10);
        @include shift(1);
        height:70px;
        border:{bottom:1px solid #363636;}
        @include pad(10px 0);
        .logo-menu{
            fill:#fff;
        }
    }
    .menu{
        @include span-columns(10);
        @include shift(1);
        ul{
            li{
                @include span-columns(12);
                @include pad(5px 0);
                a{
                    color:$white;
                    font:{size:em(12);family:$openSans;weight:bold;}
                    text:{transform:uppercase;}
                }
            }
        }
    }
    .redes{
        @include span-columns(10);
        @include shift(1);
        @include pad(10px 0);
        margin:{top:10px;}
        border:{top:1px solid #363636;bottom:1px solid #363636;}
        ul{
            li{
                @include span-columns(3);
                @include textAlign(center);
                a{
                    color:$white;
                    i{
                        font:{size:em(20);}
                    }
                }
            }
        }
    }
    .network{
        @include span-columns(10);
        @include shift(1);
        @include pad(10px 0);
        margin:{top:10px;}
        ul{
            li{
                @include span-columns(6);
                @include omega(1n);
                .net-menu{
                    fill:#929292;
                }
            }
        }
    }
}