.site-header{
	@include span-columns(12);
	background:{color: #000}
    max-height: 53px;
	clear:both;
    position: relative;
    z-index: 9999;
	.logo-medio{
        position: relative;
        overflow: hidden;
        @include span-columns(6);
		a{
			@include span-columns(4.5)
		}
        .logo-head{
            fill:$white;
            &.repost{
                fill:#000
            }
        }
        svg{
            background:{color: $red;}
            height: 53px;
            &.repost-bg{
                background:{color: #fff;}
            }
            &.lujo-bg{
                background:{color: #fff;}
            }
        }
		@include media(width 1024px){
			a{
				@include span-columns(6);
			}
		}
        @include media($notebook){
            @include span-columns(6);
            max-height: 73px;
			.date{
				@include span-columns(6);
				color:$greyTwo;
				font:{size:10px;family:$openSans}
				height: 73px;
				display: table;
				span{
					display: table-cell;
					vertical-align: middle;
				}
			}
            svg{
                height: 73px;
            }
        }
	}
	.main-navigation{
        height: 53px;
        @include direction-context(right-to-left){
            @include span-columns(2);
        }
        @include omega();
        @include textAlign(center);
        display: table;
		i{
			color: #999;
			font:{size:em(30)}
			cursor:pointer;
            display: table-cell;
            vertical-align: middle;
		}
        @include media($notebook){
            display:none;
        }
	}
    @include media($notebook){
        max-height: 73px;
        .meta-info{
            color:$greyTwo;
            font:{size:10px;family:$openSans}
            @include direction-context(right-to-left){
                @include span-columns(6);
            }
            .redes{
                @include span-columns(4);
                @include shift(2);
                ul{
                    li{
                        @include span-columns(2.5);
                        @include textAlign(center);
                        a{
							width:100%;
                            color:$greyTwo;
							height: 73px;
							display: table;
                            i{
								display: table-cell;
								vertical-align: middle;
                                font:{size:em(25);}
                            }
                        }
                    }
                }
            }
			.susc-news2{
				@include span-columns(6);
				height: 73px;
				background:{color:$greyOne;}
				.newsletter{
					@include span-columns(7);
					@include textAlign(center);
					height:73px;
					display:table;
					text:{transform:uppercase;}
					cursor:pointer;
					overflow: visible;
					position:relative;
					.btnNews{
						display: table-cell;
						vertical-align: middle;
						strong{
							font:{size:em(29)}
						}
					}
					.floatNews{
						position: absolute;
						right: 0;
						top: 72px;
						width:924px;
						background:{color:$black;}
					}
				}
				.suscripciones{
					@include span-columns(5);
					@include textAlign(center);
					height:73px;
					display:table;
					text:{transform:uppercase;}
					overflow: visible;
					position:relative;
					cursor:pointer;
					.btnSusc{
						display: table-cell;
						vertical-align: middle;
						svg{
							width:84px;
							.logo-susc{
								fill:$white;
							}
						}
					}
					.floatSusc{
						position: absolute;
						right: 0;
						top: 72px;
						width:300px;
						background:{color:$black;}
					}
				}
			}
        }
    }
	.main-search{
		@extend .main-navigation;
	}
}
.susc-news{
	@include row();
	@include omega();
	position: relative;
	overflow: visible;
	clear:both;
	background: {color:$greyOne;}
	height: 60px;
	.newsletter{
		@include span-columns(6);
		@include textAlign(center);
		a{
			display: table;
			width: 100%;
			height: 10%;
			color:$greyTwo;
			background:{color:transparent;}
			span{
				font:{family:$openSans;weight:lighter;size:em(13)}
				text:{transform:uppercase;}
				display: table-cell;
				vertical-align: middle;
				height: 60px;
			}
			&.bgOpen{
				@include transition(background .5s ease-in 0s, color .5s ease-in 0s);
				background:{color:$red;}
				color:$white;
			}
			&.bgClose{
				@include transition(background .5s ease-in 0s, color .5s ease-in 0s);
				background:{color:transparent;}
				color:$greyTwo;
			}
		}
	}
	.suscripciones{
		@extend .newsletter;
		a{
			span{
				svg{
					position: relative;
					overflow: hidden;
					//height: 14px;
					width: 47px;
					.logo-susc{
						fill:$greyTwo;
					}
				}
			}
			&.bgOpen{
				span{
					svg{
						.logo-susc{
							fill:$white;
						}
					}
				}
			}
			&.bgClose{
				span{
					svg{
						.logo-susc{
							fill:$greyTwo;
						}
					}
				}
			}
		}
	}
}
.overlays-suscnews{
	@include row();
	width:100%;
	position: absolute;
	z-index: 9999;
	top: 113px;
	background: {color:$black;}
	.susContent{
		@include row();
		display: none;
		.titSus{
			@include span-columns(5);
			@include shift(1);
			@include textAlign(right);
			color:$white;
			font:{family:$playFair;size:em(20);style:italic;}
			border:{right:1px solid $white;}
			padding:{right:20px;}
			margin:{top:5px;bottom:5px;}
			line:{height:1;}
			display: table;
			min-height: 54px;
			span{
				display: table-cell;
				vertical-align: middle;
			}
		}
		.subSus{
			@include span-columns(6);
			display: table;
			min-height: 54px;
			@include omega();
			@include textAlign(left);
			color:$red;
			font:{size:em(20);family:$openSans;}
			text:{transform:uppercase;}
			padding:{left:10px;}
			margin:{top:5px;bottom:5px;}
			span{
				display: table-cell;
				vertical-align: middle;
			}
		}
		p{
			@include row();
			clear:both;
			width: 65%;
			margin:0 auto;
			color:$greyTwo;
			font:{family:$openSans;size:em(11)}
			text:{transform:uppercase;align:center;}
			span{
				color:$white;
			}
		}
		.formSus{
			@include row();
			clear:both;
			margin:{top:10px;}
			input{
				@include span-columns(10);
				@include shift(1);
				border:none;
				background:{color:$white;}
				font:{family:$openSans;size:10px;}
				text:{transform:uppercase;}
				padding:5px;
				margin:{bottom:5px;}
				&[type="submit"]{
					background:{color:$red;}
					color:$white;
					padding:10px;
				}
			}
			small{
				@include span-columns(10);
				@include shift(1);
				@include textAlign(right);
				color:$greyTwo;
				font:{family:$openSans;size:em(11)}
				text:{transform:uppercase;}
				padding:3px 0 5px;
			}
		}
	}
	.newsContent{
		@extend .susContent;
		@include textAlign(center);
		.titNews{
			color:$white;
			font:{family:$playFair;size:em(25);style:italic;}
		}
		.subNews{
			@include span-columns(7.8);
			@include shift(2);
			svg{
				position: relative;
				overflow: hidden;
				width: 100%;
				.logo-susc{
					fill:$white;
				}
			}
		}
		.btnNews{
			@include row();
			clear:both;
			a{
				@include span-columns(8);
				@include shift(2);
				background:{color:$red;}
				color:$white;
				text:{transform:uppercase;}
				font:{size:em(14);weight:bold;}
				@include pad(10px 5px);
				margin:{bottom:10px;top:10px;}
			}
		}
	}
}
.last-content{
	@include row();
	clear:both;
	@include pad(em(10));
	background:{color:#363636}
	color:#fff;
    @include media($notebook){
        @include pad(0);
    }
	.main-last{
		@include span-columns(4);
		@include omega;
		background:{color: #fa4b2a;}
		@include textAlign(center);
		@include pad(em(10));
		height: 91px;  
        @include media($notebook){
            display:none;
        }
		span{
			font:{size:em(60)}
			line:{height:50px}
		}
		p{
			@extend .no-margins;
			@include pad(0);
			line:{height: 1;}
			font:{size:em(10)}
			text:{transform:uppercase;}
		}
	}
	.post-last{
		@include span-columns(8.25);
		background:{color: #272727;}
		font:{weight:bold;size:em(12)}
		height: 91px;
		position: relative;
    	overflow: hidden;
        @include media($notebook){
            display:none;
        }
    	.rslides {
			position: relative;
			list-style: none;
			overflow: hidden;
			@include span-columns(10);
			li {
				-webkit-backface-visibility: hidden;
				position: absolute;
				display: none;
				width: 80%;
				left: 0;
				top: 0;
				&:first-child {
					position: relative;
					display: block;
					float: left;
				}
				span{
					@include span-columns(12);
					color:$red;
					font:{size:em(12);}
					text:{transform:uppercase;}
					margin: {top:10px;left:10px;}
				}
				a{
					@include span-columns(12);
					color:$white;
					font: {size:em(12);}
					text:{decoration:none;transform:capitalize}
					margin: {left:10px}
				}
			}
		}
		.rslides_nav{
			@include textAlign(center);
			position: absolute;
            top: 0;
            right:0;
            z-index: 999;
            display: table;
            width: 45px;
            height: 45px;
            text-decoration: none;
            cursor: pointer;
            border:{left:1px solid #b3b3b3}
            color:#b3b3b3;
            i{
                display: table-cell;
                vertical-align: middle;
                font:{size:em(28);}
            }
            &.next{
                border:{bottom:1px solid #b3b3b3}
            }
            &.prev{
                top:45px;
            }
		}
	}
    .nav-deskt{
        @extend .hide;
        @include media($notebook){
            @include span-columns(10);
            @include shift(1);
            ul{
                @include span-columns(10);
                //@include pad(10px);
                li{
                    display: inline-block;
                    //@include pad(0 10px);
                    a{
                        color:$white;
                        font:{size:em(11);family:$openSans;}
                        text:{transform:uppercase;}
                        @include pad(17px 10px);
                        display: block;
                        &:hover{
                            @include transition(background .5s ease-in-out);
                            background:{color:$greyTwo;}
                        }
                    }
                    &.current-menu-item{
                        a{
                            @include radial-gradient(circle at 50% 181%, $greyTwo 4%, #363636 58%, #363636);
                            &:hover{
                                @include transition(background .5s ease-in-out);
                                background:{color:$greyTwo;image:none;}
                            }
                        }
                    }
                }
            }
            .tools{
                @include direction-context(right-to-left){
                    @include span-columns(2);
                }
                .main-search{
                    @include span-columns(2);
                    @include pad(10px 0);
                }
                .lasts{
                    @include span-columns(10);
                    background:{color: $red;}
                    color:$white;
                    cursor:pointer;
					@include media(width 1024px){
						padding: {top:3px;}
					}
                    span{
                        @include span-columns(4);
                        @include textAlign(center);
                        font:{size:em(36)}
						@include media(width 1024px){
							font:{size:em(26px);}
							padding: {top:5px;}
						}
                    }
                    p{
                        @include span-columns(6.5);
                        @include pad(10px 0);
                        margin:0;
                        line:{height:1;}
                        font:{size:em(11);}
                        text:{transform:uppercase;}
						@include media(width 1024px){
							font:{size:em(10px);}
							padding: {top:13px;}
						}
                    }
                    i{
                        @include pad(15px 0);
                    }
                }
            }
        }
        @include media($desktop){
            @include span-columns(0);
            @include outer-container(1119px);
            float:none;
        }
    }
}
.last-content-desk{
    @include span-columns(12);
    position: absolute;
    z-index: 99999;
    border:{top:3px solid $red;}
    display: none;
    background:{color: #363636;}
    .post-last-desk{
        @include span-columns(10);
        @include shift(1);
        li{
            @include span-columns(6);
            @include omega(2n);
            padding:{top:10px;bottom:10px;}
            .img-lasts{
                @include span-columns(3);
                height:100px;
                background:{repeat:no-repeat;size:cover;}
            }
            span{
                @include span-columns(7);
                @include omega();
                @include pad(5px 10px);
                font:{size:em(11);}
                color:$white;
            }
            a{
                @include span-columns(7);
                @include omega();
                @include pad(5px 10px);
                font:{size:em(14);weight:bold;}
                color:$white;
            }
        }
    }
}
.menu-list{
    position: fixed;
    right:-250px;
    top:0;
    bottom:0;
    width:250px;
    height: 100%;
    background:{color: #2b2b2b;}
    box-shadow:5px 0px 30px #000 inset;
    .menu-logo{
        @include span-columns(10);
        @include shift(1);
        height:70px;
        border:{bottom:1px solid #363636;}
        @include pad(10px 0);
        .logo-menu{
            fill:#fff;
            &.repost{
                fill:$white;
            }
        }
    }
    .menu{
        @include span-columns(10);
        @include shift(1);
        ul{
            li{
                @include span-columns(12);
                @include pad(5px 0);
                a{
                    color:$white;
                    font:{size:em(12);family:$openSans;weight:bold;}
                    text:{transform:uppercase;}
                }
            }
        }
    }
    .redes{
        @include span-columns(10);
        @include shift(1);
        @include pad(10px 0);
        margin:{top:10px;}
        border:{top:1px solid #363636;bottom:1px solid #363636;}
        ul{
            li{
                @include span-columns(3);
                @include textAlign(center);
                a{
                    color:$white;
                    i{
                        font:{size:em(20);}
                    }
                }
            }
        }
    }
    .network{
		@include span-columns(12);
		@include omega();
		ul {
			@include span-columns(12);
			@include omega(0);
			text:{align:center;}
			@include media($mobileLand) {
				@include outer-container(80%);
				margin:0 auto !important;
				float: none;
			}
			@include media($tablet) {
				@include outer-container(65%);
				margin:0 auto !important;
				float: none;
			}
			@include media($tabletLand) {
				@include outer-container(65%);
				margin:0 auto !important;
				float: none;
			}
			li {
				@include span-columns(3);
				margin:{right:10px;bottom:5px;}
				float: none;
				display: inline-block;
				@include media($mobileLand) {
					@include span-columns(2.4);
					margin:{top:5px;bottom:5px;}	
				}
				@include media($tablet) {
					@include span-columns(2.4);
					margin:{top:5px;bottom:5px;}	
				}
				@include media($tabletLand) {
					@include span-columns(2.3);
					margin:{top:5px;bottom:5px;}	
				}
				a {
					width: 100%;
					height: 100%;
					display: block;
					svg {
						width: 100%;
						height: auto;
						display: block;
						fill: #999 !important;
					}
				}
			}
		}
	}
}