.content-area{
	@include span-columns(12);
    @include media($mobileLandTotablet){
        @include pad(10px);
    }
    @include media($notebook){
        @include span-columns(10);
        @include shift(1);
    }
    @include media($desktop){
        @include span-columns(0);
        @include outer-container(1119px);
        float:none;
    }
	.site-main{
		@include span-columns(12);
	    @include pad(10px);
        @include media($notebook){
            @include pad(0);
            margin:{top:10px;}
        }
        .destacados{
            display: none;
            @include media($notebook){
                min-height:91px;
                @include span-columns(6.122);
                @include omega();
                background:{color: #363636;}
                position: relative;
                overflow: hidden;
                .rslides {
                    position: relative;
                    list-style: none;
                    overflow: hidden;
                    @include span-columns(10);
                    li {
                        -webkit-backface-visibility: hidden;
                        position: absolute;
                        display: none;
                        width: 100%;
                        left: 0;
                        top: 0;
                        &:first-child {
                            position: relative;
                            display: block;
                            float: left;
                        }
                        span{
                            @include span-columns(12);
                            color:$red;
                            font:{size:em(12);}
                            text:{transform:uppercase;}
                            margin: {top:10px;left:10px;}
                            @include media($notebook){
                                @include span-columns(7);
                            }
                        }
                        a{
                            @include span-columns(12);
                            color:$white;
                            font: {size:em(12);}
                            text:{decoration:none;transform:capitalize}
                            margin: {left:10px}
                            @include media($notebook){
                                @include span-columns(7);
                            }
                        }
                        @include media($notebook){
                            .img-last{
                                @include span-columns(3);
                                min-height:91px;
                                background:{size:cover;position:center;repeat:no-repeat;}
                            }
                        }
                    }
                }
                .rslides_nav{
                    @include textAlign(center);
                    position: absolute;
                    top: 0;
                    right:0;
                    z-index: 999;
                    display: table;
                    width: 45px;
                    height: 45px;
                    text-decoration: none;
                    cursor: pointer;
                    border:{left:1px solid #b3b3b3}
                    color:#b3b3b3;
                    i{
                        display: table-cell;
                        vertical-align: middle;
                        font:{size:em(28);}
                    }
                    &.next{
                        border:{bottom:1px solid #b3b3b3}
                    }
                    &.prev{
                        top:45px;
                    }
                }
            }
        }
		article{
			@include span-columns(6);
			@include textAlign(center);
			background:{size:cover;repeat:no-repeat;position:center 20%;}
			position:relative;
			min-height:167px;
			&:first-child{
				@include span-columns(12);
				min-height:216px;
				margin:{bottom:10px;}
                @include media(min-width 768px max-width 1024px){
                    min-height:316px;
                }
                @include media($notebook){
                    @include span-columns(6.15);
                    @include omega();
                    min-height:416px;
                }
				.entry-footer{
					span{
						font:{size:em(11);}
					}
					h2{
                        line-height: 1em;
						a{
							font:{size:em(15);family:$playFair}
							color:#000;
						}
					}
				}
			}
            &:last-child{
                margin: {bottom:0;}
            }
			.more-link{
				position:absolute;
				right:10px;
				top:10px;
				color:$white;
				font:{size:em(20);}
                z-index: 9;
                i{
                    display: table;
                    &::before{
                        @include borderRadius(100%);
                        background:{color:#000;}
                        width: 29px;
                        height: 29px;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
                @include media($notebook){
                    display: none;
                }
			}
			.entry-footer{
				position:absolute;
				bottom:0;
				background:{color:$white;}
				width: 90%;
				left: 0;
				right: 0;
				margin: 0 auto;
				.times-post{
					color:#999;
					font:{size:em(9);}
					margin:{bottom:5px;}
				}
				span{
					@extend .catposts;
				}
				h2{
                    @extend .titulosposts;
				}
			}
            @include media($notebook){
                @include span-columns(3.2);
                @include omega();
                min-height:325px;
                position: relative;
                overflow: hidden;
                &:hover{
                    .hover-content{
                        display: block;
                    }
                }
            }
		}
	}
	.titus{
		@extend .titulosh3;
	}
    .titus-large{
        @extend .titulosh3-large;
    }
	.site-main-2{
		@extend .site-main;
		article{
			@include omega(2n);
			margin:{bottom:10px;}
			&:first-child{
				@include span-columns(6);
				min-height: 167px;
				.entry-footer{
					h2{
                        line-height: .5em;
                        margin:0 5px 5px;
                        @include pad(0);
                        a{
                            font:{size:em(8);family:$playFair}
                            color:#000;
                        }
					}
				}
			}
		}
	}
    .site-main-2-mobile{
        @include span-columns(8.5);
        @include textAlign(center);
        @include media($tabletLand){
            @include omega();
        }
        article{
            background:{size:cover;repeat:no-repeat;position:center 20%;}
            @include span-columns(4);
            @include omega(3n);
            min-height:290px;
            position: relative;
            margin: {bottom:10px;}
            .more-link{
                @extend .hide;
            }
            .entry-footer{
                position:absolute;
				bottom:0;
				background:{color:$white;}
				width: 80%;
				left: 0;
				right: 0;
				margin: 0 auto;
				.times-post{
					color:#999;
					font:{size:em(9);}
					margin:{bottom:5px;}
				}
				h2{
					@extend .titulosposts;
				}
            }
            @include media($notebook){
                position: relative;
                overflow: hidden;
                &:hover{
                    .hover-content{
                        display: block;
                    }
                }
            }
        }
    }
	.site-main-3{
		@extend .site-main;
		article{
			@include span-columns(12);
			position:relative;
			min-height:97px;
			margin:{bottom:10px;}
			border:solid 1px #ededed;
			@include textAlign(left);
			&:first-child{
				@include span-columns(12);
				min-height:97px;
				.entry-footer{
					h2{
						a{
							font:{size:em(11);family:$openSans;}
						}
					}
				}
			}
			.img-post{
				@include span-columns(4);
                background:{size:cover;repeat:no-repeat;position:center 20%;}
				position:relative;
				overflow: hidden;
				min-height: 97px;
				.more-link{
                    position:absolute;
                    right:10px;
                    top:10px;
                    color:$white;
                    font:{size:em(15);}
                    z-index: 9;
                    @include textAlign(center);
                    i{
                        display: table;
                        &::before{
                            @include borderRadius(100%);
                            background:{color:#000;}
                            width: 25px;
                            height: 25px;
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                }
			}
			.entry-footer{
				@include span-columns(8);
				min-height: 97px;
				.times-post{
					color:#999;
					font:{size:em(10);}
					margin:{bottom:5px;}
				}
				h2{
					line:{height:1;}
					margin:5px 0;
					@include pad(0);
					a{
						font:{size:em(11);family:$openSans}
						color:#000;
					}
				}
			}
		}
	}
    .site-main-3-mobile{
        @include span-columns(8.5);
        @include textAlign(center);
        article{
            @include span-columns(6);
			position:relative;
            min-height:291px;
            background:{size:cover;repeat:no-repeat;position:center 20%;}
            .entry-footer{
                position:absolute;
				bottom:0;
				background:{color:$white;}
				width: 80%;
				left: 0;
				right: 0;
				margin: 0 auto;
				.times-post{
					color:#999;
					font:{size:em(9);}
					margin:{bottom:5px;}
				}
				span{
					color:$red;
					font:{size:em(9);family:$openSans;}
					text:{transform:uppercase;}
				}
				h2{
					line:{height:1;}
					margin:5px;
					@include pad(0);
					a{
						font:{size:em(9);family:$playFair}
						color:#000;
					}
				}
            }
            @include media($notebook){
                position: relative;
                overflow: hidden;
                @include omega(3n);
                &:hover{
                    .hover-content{
                        display: block;
                    }
                }
            }
            @include media(min-width 768px max-width 1024px){
                @include omega(3n);
            }
        }
    }
	.site-main-4{
		@extend .site-main-3;
		article{
			&:first-child{
				@include span-columns(12);
				min-height:216px;
				margin:{bottom:10px;}
				border:none;
				@include textAlign(center);
				.entry-footer{
					position:absolute;
					bottom:0;
					background:{color:$white;}
					width: 90%;
					left: 0;
					right: 0;
					margin: 0 auto;
                    min-height:50px;
					.times-post{
						color:#999;
						font:{size:em(9);}
						margin:{bottom:5px;}
					}
					span{
						display: none;
					}
					h2{
						line:{height:1;}
						margin:0 5px 5px;
						@include pad(0);
						a{
							font:{size:em(15);family:$playFair}
							color:#000;
						}
					}
				}
			}
			.entry-footer{
				background:{color:transparent;}
				span{
					display: none;
				}
			}
		}
	}
    .site-main-4-mobile{
        @include span-columns(12);
        article{
            @include span-columns(3.2);
            @include omega();
            min-height: 200px;
            position: relative;
            @include textAlign(center);
            background:{size:cover;repeat:no-repeat;position:center 20%;}
            &:first-child{
                @include span-columns(6.15);
                @include omega();
                min-height:400px;
            }
            .entry-footer{
                position:absolute;
                bottom:0;
                background:{color:$white;}
                width: 90%;
                left: 0;
                right: 0;
                margin: 0 auto;
                .times-post{
                    color:#999;
                    font:{size:em(9);}
                    margin:{bottom:5px;}
                }
                span{
                    display: none;
                }
                h2{
                    @extend .titulosposts;
                }
            }
            @include media($notebook){
                position: relative;
                overflow: hidden;
                .hover-content{
                    position: absolute;
                    z-index: 99;
                    background:{color:rgba(0,0,0,.8);}
                    width:100%;
                    height: 100%;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    display: none;
                    .btn_more{
                        @include span-columns(6);
                        @include shift(3);
                        @include pad(5px);
                        position: absolute;
                        bottom: 20%;
                        border:1px solid $white;
                        a{
                            color:$white;
                            font:{size:em(13)}
                            text:{transform:uppercase;}
                        }
                    }
                }
                &:hover{
                    .hover-content{
                        display: block;
                    }
                }
            }
        }
    }
    .site-main-5{
        @include span-columns(12);
        @include pad(10px 10px 40px);
        background:{color: #2c2c2c;}
        .titus{
            @include textAlign(center);
            @include span-columns(2.2);
	        @include shift(5);
	        @include pad(0);
            margin:{top:0;bottom:0;}
            border:none;
            background:transparent;
            border:{bottom:2px solid $red;}
            font:{size:em(18)}
        }
        .content-videos{
            @include span-columns(12);
            position: relative;
            overflow: hidden;
            margin:{top:10px;}
            border:2px solid $white;
            .video-container{
                .swiper-slide{
                    @include span-columns(12);
                    margin:{bottom:-16px;top:20px;}
                    position: relative;
                    overflow: hidden;
                    iframe{
                        width: 100%;
                        height: 220px;
                        @include media($notebook){
                            height:640px;
                        }
                    }
                    .entry-footer{
                        @include textAlign(center);
                        position:absolute;
                        bottom:0;
                        background:{color:$white;}
                        width: 80%;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        .times-post{
                            color:#999;
                            font:{size:em(9);}
                            margin:{bottom:5px;}
                        }
                        h2{
                            line:{height:1em;}
                            @include pad(0);
                            font:{size:em(18);family:$playFair}
                            color:#000;
                        }
                    }
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                }
                .swiper-pagination{
                    @include textAlign(center);
                    width:100%;
                    position: relative;
                    margin:{top: 40px;}
                    span{
                        margin: {right:10px;}
                        background:{color: #515151;}
                        width:10px;
                        height: 10px;
                        display: inline-block;
                        position: relative;
                        overflow: hidden;
                        &.swiper-pagination-bullet-active{
                            background:{color: $white;}
                        }
                    }
                }
            }
        }
    }
    .site-main-6{
        @include span-columns(12);
        margin:{top:10px;bottom:10px;}
        @include pad(10px 10px 40px);
        background:{color: #2c2c2c;}
        .titus{
            @extend .titulosh3;
            background:{color: #2c2c2c;}
        }
        .content-sociales{
            @include span-columns(12);
            #loadOverlay{
                @extend .hide;
                position: fixed;
                top:0;
                left:0;
                bottom: 0;
                right:0;
                width:100%;
                height:100%;
                background: rgba(0,0,0,.7);
                z-index: 9999;
                .loadimage{
                    margin:{top:5px;left:auto;right:auto;}
                    width:300px;
                    height:300px;
                    background:{position:top;size:cover;repeat:no-repeat;}
                    position: relative;
                    .share-sociales{
                        position: absolute;
                        bottom: 4px;
                        left:4px;
                        a{
                            width:25px;
                            height:25px;
                            background:{color: #000;}
                            @include borderRadius(50%);
                            color:$white;
                            display: table;
                            @include pad(3px);
                            @include textAlign(center);
                            float:left;
                            margin:{right:4px;}
                            font:{size:14px;}
                            i{
                                display: table-cell;
                                vertical-align: middle;
                            }
                        }
                    }
                }
                .dataimage{
                    @include pad(10px);
                    border:{left:solid $red 3px;}
                    width:300px;
                    margin:{top:5px;left:auto;right:auto;}
                    background:{color: #000;}
                    color:$white;
                    h2{
                        font:{size:em(12);weight:bold;}
                        @include pad(0);
                        @extebd .no-margin;
                    }
                }
                .closeimage{
                    width: 300px;
                    margin:{top:15%;left:auto;right:auto;}
                    @include textAlign(right);
                    color:$white;
                    font:{size:em(18)}
                    cursor:pointer;
                }
            }
            ul{
                @include span-columns(12);
                @include pad(0);
                @include omega();
                overflow: hidden;
                position: relative;
                li{
                    display: inline-block;
                    width:200px;
                    height: 200px;
                    background: {size:cover;repeat:no-repeat;position: center;}
                    a{
                        display: block;
                        width:100%;
                        height:100%;
                    }
                }
            }
        }
    }
    .site-main-7{
        @include span-columns(12);
        @include pad(10px 10px 0);
        background:{color: #ad9469;}
        svg{
            @include span-columns(6);
            @include shift(3);
            .logo-casas{
                fill:#fff;
            }
        }
        article{
            @include span-columns(6);
            @include omega(3n);
            @include textAlign(center);
            margin:{bottom:10px;}
			background:{size:cover;repeat:no-repeat;position:center;}
			position:relative;
			min-height:167px;
            .more-link{
				position:absolute;
				right:10px;
				top:10px;
				color:$white;
				font:{size:em(20);}
                i{
                    display: table;
                    &::before{
                        @include borderRadius(100%);
                        background:{color:#000;}
                        width: 29px;
                        height: 29px;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
			}
            .entry-footer{
				position:absolute;
				bottom:0;
				background:{color:rgba(255,255,255,.8);}
				width: 100%;
				left: 0;
				right: 0;
				margin: 0 auto;
				.times-post{
					color:#999;
					font:{size:em(9);}
					margin:{bottom:5px;}
				}
				span{
					color:$red;
					font:{size:em(9);family:$openSans;}
					text:{transform:uppercase;}
				}
				h2{
					line:{height:1;}
					margin:5px;
					@include pad(0);
					a{
						font:{size:em(9);family:$playFair}
						color:#000;
					}
				}
			}
        }
    }
    .site-main-8{
        @include span-columns(12);
        @include pad(20px);
        background:{color:$greyOne;}
        margin:{bottom:5px;}
        h3{
            @include span-columns(5);
            @include shift(3.5);
            @include textAlign(center);
            margin:{top:0;bottom:0;}
            @include pad(0 4px);
            font:{size:em(18);family:$openSans;weight:normal;}
            color:$white;
            background:{color: $greyOne;}
            text:{transform:uppercase;}
            position: relative;
            z-index: 9;
        }
        .contInstagram{
            @include span-columns(12);
            @include pad(30px 0 0 7px);
            @include omega();
            border:solid 2px $greyTwo;
            margin:{top:-13px;}
            position: relative;
            z-index: 1;
            .gridInst{
                @include span-columns(2.55);
                @include omega();
                height:70px;
                overflow: hidden;
                background:{size:cover;position: center;repeat:no-repeat;}
                .instaHover{
                    @extend .hide;
                    @include textAlign(center);
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: {color:rgba(0,0,0,.6);}
                    span{
                        color:$white;
                        display: inline-block;
                        margin:{top:30%;}
                        font:{size:em(13)}
                        @include pad(0 5px);
                    }
                    a{
                        display: block;
                        width:100%;
                        height:100%;
                    }
                }
                &.insBig{
                    @include span-columns(4.84);
                    @include omega();
                    height:140px;
                    .instaHover{
                        span{
                            margin:{top:40%;}
                        }
                    }
                }
                img{
                    @extend .img-adapt;
                }
                &:hover{
                    .instaHover{
                        display: table;
                    }
                }
                @include media($notebook){
                    height:120px;
                    .instaHover{
                        span{
                            margin:{top:35%;}
                        }
                    }
                    &.insBig{
                        height:240px;
                        span{
                            margin:{top:20%;}
                        }
                    }
                }
            }
            @include media($notebook){
                padding:{left:13px;}
            }
        }
        @include media($notebook){
            @include span-columns(8.5);
            margin:{top:10px;}
        }
    }
    .site-main-9{
        @extend .site-main-8;
        @include pad(20px 0);
        margin: {bottom:0;}
        background:{color:$greyTwo;}
        h3{
            background:{color:$greyTwo;}
        }
        .conte-horoscopo{
            @extend .contInstagram;
            border:solid 2px $white;
            border:{left:none;right:0;}
            padding:{bottom:10px;top:50px;}
            overflow: hidden;
            .swiper-hososcopo{
                @include span-columns(10);
                @include shift(1);
                overflow: hidden;
                .swiper-wrapper{
                    .slide-item{
                        a{
                            @include textAlign(center);
                            display:block;
                            width:100%;
                            height:100%;
                            color:$black;
                            text:{transform:uppercase;}
                            font:{weight:bold;size:em(11)}
                            img{
                                display: block;
                                width:100%;
                                height: auto;
                            }
                            small{
                                display: block;
                                width:100%;
                            }
                        }
                    }
                }
                .swiper-pagination{
                    position: relative;
                    margin:{top:15px;}
                    .swiper-pagination-bullet{
                        background: $white;
                        &.swiper-pagination-bullet-active{
                            background: #000;
                        }
                    }
                }
            }
            @include media($tabletLandTonotebook){
                min-height:240px;
            }
            @include media($notebook){
                min-height:240px;
            }
        }
        @include media($tabletLandTonotebook){
            @include span-columns(6);
            min-height:300px;
        }
        @include media($notebook){
            @include span-columns(6);
            min-height:300px;
            margin:{top:10px;}
        }
    }
    .site-main-10{
        @include span-columns(12);
        background:{color:$greyOne;image:url('../img/suscribe-bg.png');repeat:no-repeat;position:-40px top;size:contain;}
        margin:{bottom:10px;}
        @include pad(49px 40px 47px 177px);
        @include textAlign(center);
        @include media($tabletLandTonotebook){
            @include span-columns(6);
            @include pad(70px 40px 0 145px);
            min-height:300px;
        }
        @include media($notebook){
            @include span-columns(6);
            min-height:300px;
            @include pad(70px 40px 0 163px);
            margin:{top:10px;bottom:0;}
        }
        .tit{
            color:$red;
            font:{size:em(30);family:$playFair;style:italic;}
        }
        .menu-logo{
            use{
                fill:$white;
            }
        }
        .tit-bajada{
            font:{size:em(10)}
            color:$white;
            text:{transform:uppercase;}
        }
        .btn-suscribe{
            border:1px solid $white;
            padding:10px;
            margin:{top:10px;}
            text:{transform:uppercase;}
            @include textAlign(center);
            a{
                color:$white;
                width: 100%;
                height: 100%;
                display: block;
                
            }
        }
        @include media($notebook){
        }
    }
}
.site-main-5-mobile{
    @include span-columns(12);
    margin:{top:5px;}
    @include pad(10px 10px 40px);
    background:{color: #2c2c2c;}
    .titus{
        @include textAlign(center);
        @include span-columns(2.2);
        @include shift(5);
        @include pad(0);
        margin:{top:0;bottom:0;}
        border:none;
        background:transparent;
        border:{bottom:2px solid $red;}
        font:{size:em(18)}
        color:#fff;
        text:{transform:uppercase;}
    }
    .content-videos{
        @include span-columns(10);
        @include shift(1);
        @include pad(0 10px);
        position: relative;
        margin:{top:10px;}
        border:2px solid $white;
        .video-container-v{
            @include span-columns(6);
            position: relative;
            overflow: hidden;
            .swiper-wrapper{
                .swiper-slide{
                    max-height:457px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    iframe{
                        width: 100%;
                    }
                    .entry-footer{
                        @include textAlign(center);
                        position:absolute;
                        bottom:0;
                        background:{color:$white;}
                        width: 80%;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        .times-post{
                            color:#999;
                            font:{size:em(9);}
                            margin:{bottom:5px;}
                        }
                        h2{
                            line:{height:1;}
                            @include pad(0);
                            font:{size:em(27);family:$playFair}
                            color:#000;
                        }
                    }
                }
            }
        }
        .swiper-pagination-v{
            @include textAlign(center);
            width:100%;
            position: relative;
            margin:{bottom: 40px;}
            span{
                margin: {right:10px;}
                background:{color: #515151;}
                width:10px;
                height: 10px;
                display: inline-block;
                position: relative;
                overflow: hidden;
                text:{indent:-1000px; }
                @include borderRadius(100%);
                &.swiper-pagination-bullet-active{
                    background:{color: $white;}
                }
            }
        }
    }
}
.site-main-6-mobile{
    @include span-columns(12);
    margin:{top:10px;}
    @include pad(10px 10px 40px);
    background:{color: #2c2c2c;}
    .titus{
        @extend .titulosh3;
        background:{color: #2c2c2c;}
    }
    .content-sociales{
        @include span-columns(12);
        #loadOverlay{
            @extend .hide;
            position: fixed;
            top:0;
            left:0;
            bottom: 0;
            right:0;
            width:100%;
            height:100%;
            background: rgba(0,0,0,.7);
            z-index: 9999;
            .loadimage{
                margin:{top:5px;left:auto;right:auto;}
                width:600px;
                height:600px;
                background:{position:top;size:cover;repeat:no-repeat;}
                position: relative;
                overflow: hidden;
                .share-sociales{
                    position: absolute;
                    bottom: 4px;
                    left:4px;
                    a{
                        width:40px;
                        height:40px;
                        background:{color: #000;}
                        @include borderRadius(50%);
                        color:$white;
                        display: table;
                        @include pad(3px);
                        @include textAlign(center);
                        float:left;
                        margin:{right:4px;}
                        i{
                            display: table-cell;
                            vertical-align: middle;
                        }
                        &:hover{
                            color: #000;
                            background: $white;
                            @include transition(color .2s ease-in-out, background .5s ease-in-out);
                        }
                    }
                }
                @include media($notebookLand){
                    width:500px;
                    height:500px;
                }
            }
            .dataimage{
                @include pad(10px);
                border:{left:solid $red 3px;}
                width:600px;
                margin:{top:5px;left:auto;right:auto;}
                background:{color: #000;}
                color:$white;
                h2{
                    font:{size:em(12);weight:bold;}
                    @include pad(0);
                    @extebd .no-margin;
                }
                @include media($notebookLand){
                    width:500px;
                }
            }
            .closeimage{
                width: 600px;
                margin:{top:5%;left:auto;right:auto;}
                @include textAlign(right);
                color:$white;
                font:{size:em(18)}
                cursor:pointer;
                @include media($tabletLand){
                    width:500px;
                }
            }
        }
        ul{
            @include span-columns(12);
            @include pad(0);
            @include omega();
            overflow: hidden;
            position: relative;
            li{
                position: relative;
                overflow: hidden;
                display: inline-block;
                width:200px;
                height: 200px;
                background: {size:cover;repeat:no-repeat;position: center;}
                a{
                    display: block;
                    width:100%;
                    height:100%;
                }
                &:hover{
                    .hoverzoom{
                        cursor:pointer;
                        position: absolute;
                        width: 200px;
                        height: 200px;
                        background-color: rgba(0,0,0,.8);
                        display: table;
                        text-align: center;
                        i{
                            display: table-cell;
                            font-size: 30px;
                            vertical-align: middle;
                            color: #fff;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}
.site-main-7-mobile{
    @include span-columns(12);
    @include pad(10px 10px 40px);
    background:{color: #ad9469;}
    svg{
        @include span-columns(2);
        @include shift(1);
        .logo-casas{
            fill:#fff;
        }
    }
    .maxcasas{
        @include span-columns(10);
        @include shift(1);
        article{
            @include span-columns(3);
            @include textAlign(center);
            background:{size:cover;repeat:no-repeat;position:center;}
            position:relative;
            min-height:265px;
            .more-link{
                position:absolute;
                right:10px;
                top:10px;
                color:$white;
                font:{size:em(20);}
                i{
                    display: table;
                    &::before{
                        @include borderRadius(100%);
                        background:{color:#000;}
                        width: 29px;
                        height: 29px;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }
            .entry-footer{
                position:absolute;
                bottom:0;
                background:{color:rgba(255,255,255,.8);}
                width: 100%;
                left: 0;
                right: 0;
                margin: 0 auto;
                .times-post{
                    color:#999;
                    font:{size:em(9);}
                    margin:{bottom:5px;}
                }
                span{
                    color:$red;
                    font:{size:em(9);family:$openSans;}
                    text:{transform:uppercase;}
                }
                h2{
                    line:{height:1;}
                    margin:5px;
                    @include pad(0);
                    a{
                        font:{size:em(9);family:$playFair}
                        color:#000;
                    }
                }
            }
        }
    }
}
