.page-content{
    @include span-columns(12);
    @include pad(5px 10px);
    @include media($notebook){
        @include span-columns(10);
        @include shift(1);
        @include pad(5px 0);
    }
    @include media($desktop){
        max-width:1119px;
        margin:0 auto !important;
        float:none;
    }
	.branded-content{
		@include pad(10px 0)
	}
    .titus{
        @extend .titulosh3;
        @include span-columns(12);
        @include shift(0);
    }
	.headerBlogis{
		width:100%;
		min-height:100px;
		background:{
			image:url('http://cosas.com/ads_html/bg.jpg');
			size:cover;
			position: center;
		}
		position: relative;
		overflow: hidden;
		@include display(flex);
		@include align-items(flex-end);
		h2{
			@include outer-container(90%);
			@include pad(3px 15px);
			text:{
				align:center;
			}
			background: {
				color:#FFAC39;
			}
			color:$white;
			font:{
				family:$playFair;
				size:em(12);
				weight:normal;
			}
			max-height: 40px;
		}
		@include media($notebook){
			min-height:200px;
			h2{
				@include outer-container(70%);
				font:{
					size:em(24);
				}
			}
		}
	}
	.headerNyfw{
		@extend .headerBlogis;
		background:{
			image:url('../img/300x100-seccion.gif');
		}
		@include media($notebook){
			min-height: 400px;
			background:{
				image:url('../img/1119x400-seccion.gif');
			}
		}
	}
    .post-list{
        .post-sticky-box{
            @include row();
            .post-sticky{
                @include span-columns(12);
                background: {size:cover;repeat:no-repeat;position: center 20%;}
                margin:{bottom:10px;}
                position: relative;
                overflow: hidden;
                min-height: 300px;
                .cont-title-page{
                    @include span-columns(10);
                    @include shift(1);
                    @include textAlign(center);
                    position: absolute;
                    bottom:0;
                    background:{color: $white;}
                    h2{
                        @include span-columns(10);
                        @include shift(1);
                        @extend .no-margins;
                        font:{family:$playFair;size:em(11);}
                        a{
                            color:#000;
                        }
                    }
                    .times-post{
                        @include span-columns(10);
                        @include shift(1);
                        color:#999;
                        font:{size:em(9);}
                        margin:{bottom:5px;}
                    }
                }
            }
        }
        .post-pag{
            background: {size:cover;repeat:no-repeat;position: center 20%;}
            margin:{bottom:10px;}
            @include span-columns(6);
            min-height:167px;
            position: relative;
            overflow: hidden;
            .cont-title-page{
                @include span-columns(10);
                @include shift(1);
                @include textAlign(center);
                position: absolute;
                bottom:0;
                background:{color: $white;}
                h2{
                    @include span-columns(10);
                    @include shift(1);
                    @extend .no-margins;
                    font:{family:$playFair;size:em(11);}
                    a{
                        color:#000;
                    }
                }
                .times-post{
                    @include span-columns(10);
                    @include shift(1);
                    color:#999;
					font:{size:em(9);}
					margin:{bottom:5px;}
                }
            }
        }
        @include media($notebook){
            @include span-columns(12);
            .post-pag{
                @include span-columns(4);
                @include omega(3n);
                min-height:200px;
            }
        }
        @include media($mobileTomobileLand){
            .post-pag{
                @include omega(2n);
            }
        }
    }
    .pagination{
        @include span-columns(12);
        font:{size:em(12);weight:bold;}
        margin:10px 0;
        span{
            @include span-columns(1);
            @include textAlign(center);
            &.current{
                color:$red;
                text:{decoration:underline;}
            }
        }
		h2{
			display: none;
			visibility: hidden;
		}
        a{
            @include span-columns(1);
            text:{transform:capitalize;}
            @include textAlign(center);
            color:#000;
            &.prev{
                @include span-columns(2.5);
                @include textAlign(left);
            }
            &.next{
                @include direction-context(right-to-left){
                    @include span-columns(2.5);
                }
                @include textAlign(right);
            }
        }
    }
}