.single-content{
    @include span-columns(12);
    @include pad(5px 10px);
    @include media($notebook){
        @include span-columns(10);
        @include shift(1);
    }
    @include media($desktop){
        max-width:1119px;
        margin: 0 auto !important;
        float:none;
    }
	.branded-content{
		@include pad(10px 0)
	}
    article{
        .img-post-single{
            @include span-columns(12);
            position: relative;
            overflow: hidden;
            margin:{top:5px;}
            background: {size:cover;repeat:no-repeat;position: center 20%;}
            min-height: 216px;
            @include media($notebook){
                min-height:416px;
            }
        }
        blockquote{
            img{
                width:100%;
                height:auto;
            }
        }
        .post-single{
			.data-post-single{
				@include span-columns(12);
				h1{
					@include row();
					width: 100%;
					clear:both;
					@extend .no-margins;
					font:{family:$playFair;size:em(18);}
					@include media($notebook){
						font:{
							size:em(24);
						}
					}
				}
				.times-post{
					@include span-columns(6);
					color:#999;
					font:{size:em(9);}
					margin:{bottom:5px;top:10px;}
				}
				.author{
					@extend .times-post;
					@include omega();
					a{
						color:#999;
						font:{weight:bold;}
					}
				}
			}
			.sharecontent{
				@include span-columns(12);
				margin:10px 0;
				a{
					display:table;
					width:30px;
					height: 30px;
					color:$black;
					border:1px solid $black;
					@include borderRadius(50%);
					@include textAlign(center);
					float:left;
					margin:{
						right: .5%;
					}
					i{
						display: table-cell;
						vertical-align: middle;
						font:{
							size:em(12);
						}
						@include media($notebook){
							font:{
								size:em(18);
							}
						}
					}
				}
				@include media($tabletLand){
					@include span-columns(8);
				}
			}
			ul{
				@include pad(0 0 0 3%);
				list:{
					style: initial;
				}
				li{
					color:#999;
				}
			}
            h3{
                @include span-columns(10);
                @include shift(1);
                text:{align:center;}
                font:{size:em(12);weight:bold;}
                color:#999;
            }
            h5{
                @include span-columns(12);
                color:#999;
                font:{size:em(14);weight:bold;}
                line:{height:16px;}
                @include media($notebook){
                    font:{size:em(11);}
                }
            }
            p{
                clear:both;
                font:{size:em(14);}
                line:{height:20px;}
                color:#999;
                iframe{
                    width:100%;
                    max-height:200px !important;
                    @include media($notebook){
                        max-height:640px !important;
                    }
                }
                a{
                    img{
                        @extend .img-adapt;
                    }
                }
                img{
                    @extend .img-adapt;
                }
            }
            .wp-caption{
                width:100% !important;
                img{
                    @extend .img-adapt;
                }
            }
            .swiper-gallery{
                @include span-columns(12);
                position: relative;
                overflow: hidden;
                .title-section{
                    @extend .titulosh3;
                    @include span-columns(12);
                    @include shift(0);
                }
                .swiper-wrapper{
                    .swiper-slide{
                        @include textAlign(center);
                        img{
                            width:100%;
                            height:auto;
                        }
                    }
                }
                .swiper-pagination{
                    span{
                        background:{color:$red;}
                    }
                }
                .arrows{
                    position: absolute;
                    top:50%;
                    z-index: 10;
                    width:30px;
                    i{
                        color:$red;
                        font:{size:em(25);}
                    }
                    &:hover{
                        i{
                            color:darksalmon;
                        }
                    }
                    &.next-gallery{
                        right:0;
                    }
                    &.prev-gallery{
                        left:0;
                    }
                    &.swiper-button-disabled{
                        i{
                            color:darksalmon;
                        }
                    }
                }
            }
			.columnasData{
				@include span-columns(12);
				display: table;
				height: 100px;
				.contentColumnista{
					display: table-cell;
					vertical-align: middle;
					.imgColumnista{
						@include borderRadius(50%);
						float:left;
						width: 80px;
						height: 80px;
						background: {
							color:$red;
							position: center;
							size:cover;
						}
					}
					.nameColumnista{
						display: table;
						height: 80px;
						h4{
							padding:{
								left:10px;
							}
							@extend .no-margins;
							display: table-cell;
							vertical-align: middle;
						}
					}
				}
			}
			.degradeload{
				position: absolute;
				width: 100%;
				min-height:300px;
				bottom: 0;
				left:0;
				right:0;
				@include linear-gradient(transparent, $white);
				.btn-readcontiniuos{
					background:{color:$red;}
					color:$white;
					@include pad(5px 10px);
					position: absolute;
					bottom: 10px;
					left:0;
					right:0;
					margin: 0 auto;
					font:{size:em(12px);}
					text:{transform:uppercase;}
					width:60%;
				}
				@include media($notebook){
					display: none;
				}
			}
			.fb-comments{
				@include span-columns(12);
			}
			@include media(max-width 640px){
				width:100%;
				position: relative;
				overflow: hidden;
				max-height: 300px;
				clear: both;
			}
            @include media($tabletLand){
                @include span-columns(8);
            }
            @include media($notebook){
                clear:none;
                @include span-columns(8);
            }
        }
        .sidebar{
            @include direction-context(right-to-left){
                @include span-columns(4);
            }
        }
    }
}