.content-video {
	@include outer-container(90%);
	margin:{top:50px;left:auto;bottom:0;right: auto;} 
	float: initial;
	border: 2px solid $white;
	.menu-video {
		@include outer-container(60%);
		float: initial;
		margin:{top:-11px;left: auto;bottom:0;right:auto;}
		background:#2c2c2c; 
		ul {
			@include span-columns(12);
			padding:0;
			margin:0;
			li {
				@include span-columns(4);
				list-style:none;
				display: inline-block;
				text:{align:center;}
				a {
					color:$white;
					font:{family:$openSans;size:0.8em;}
					text:{transform:uppercase;}
				}
			}
		}
	}
	.list-videos {
		@include outer-container(90%);
		margin: 0 auto;
		float: initial;
		padding:{top:40px;bottom:40px;}
		.video-principal {
			@include span-columns(8);
			@include omega();
			height: 400px;
			.video-play {
				@include span-columns(12);
				height: inherit;
				position: relative;
				.title-video-principal {
					@include outer-container(80%);
					position: absolute;
					bottom: 0;
					left:0;
					right: 0;
					height: 100px;
					background: $white;
					z-index: 99;
					padding: 10px 20px;
                    @include textAlign(center);
					.titulo-principal {
						@include row;
						color:$black;
						font:{family:$playFair;size: 1.5em;weight: bold;}
						line-height: 25px; 
						text:{align:center;}
					}
					.info-principal {
						color:$gray1_color; 
						font:{size:0.9em;family:$openSans;}
						margin:{top:5px;left:5px;right:5px;}
						display: inline-block;
						i {
							margin:{right:5px;}
						} 
					}
				}
                iframe{
                    width:100%;
                    max-height:360px;
                }
			}
		}
		.video-player {
			@include span-columns(4.1);
			margin:{top:0px;right:0;}
			float: right;
			height: 400px;
			overflow: hidden;
			position: relative;
			.swiper-container-video {
		       	@include span-columns(12);
		       	position: initial;
				margin:{top:40px;right:0;}
				height: 320px;
				overflow: hidden;
		       .swiper-wrapper {
		       		position: initial;
		       		.swiper-slide {
				        display: -webkit-box;
				        display: -ms-flexbox;
				        display: -webkit-flex;
				        display: flex;
				        -webkit-box-pack: center;
				        -ms-flex-pack: center;
				        -webkit-justify-content: center;
				        justify-content: center;
				        -webkit-box-align: center;
				        -ms-flex-align: center;
				        -webkit-align-items: center;
				        align-items: center;
				        @include span-columns(12);
						@include omega();
						border:1px solid #292929;
						height: 110px; 
						.play-section {
							@include span-columns(4.5);
							@include omega();
							height: inherit;
							display: inline-block;
							margin:{bottom:10px;}
							img {
								width:100%;
								height: auto;
							}
						}
						.info-section {
							@include span-columns(6.8);
							@include omega();
							display: inline-block;
							height: inherit;
							padding:10px;
							font:{family:$openSans;}
							ul {
								@include span-columns(12);
								margin:0;
								padding: 0;
								text:{align:left;}
								li {
									color:$white;
									font:{size:0.7em;}
									margin:{bottom:3px;}
									i {
										margin:{right:5px;}
									}
									&.title-video {
										font:{size:0.8em;weight:bold;}
									}
								}
							}
						}
				    }	
		       }
		    }
		    .btn-nav-video {
		    	@include span-columns(12);
				border:1px solid #fff; 
				font:{family:$openSans;size:0.7em;weight:bold;}
				background:none;
				text:{align:center;transform:uppercase;}
				color:$white;
				position: absolute;
				left:0;
				right: 0;
				padding:10px 0;
				z-index: 999;
				&:hover {
					@include transition(all 0.3s ease-in-out);
					background: $white;
					color:$black;  
				}
				&.swiper-button-disabled {
					opacity: 0.4;
					&:hover {
						background:none;
						opacity: 0.4;
						color:$white;
					}
				}
				&.btn-prev {
    				top: 0;
		    	}
		    	&.btn-next {
    				bottom: 0;
		    	}
		    }
		}
	}
} 
