.vidaSocial{
	$heightVS:220px;
	@include row();
	@include clearfix();
	position: relative;
	overflow: hidden;
	min-height:$heightVS;
	.swiper-vSocial{
		height:$heightVS;
		.swiper-wrapper{
			.swiper-slide{
				background:{
					position: center;
					size:cover;
					repeat:no-repeat;
				}
				a{
					width: 100%;
					height: 100%;
					display: block;
					.metaContent{
						width:100%;
						position: absolute;
						bottom:0;
						height:50px;
						.metaVsocial{
							@include row();
							width:100%;
							@include pad(0 0 0 3%);
							@include display(flex);
							@include align-items(center);
							@include transition(background .5s ease-in 0s);
							color:$white;
							height: 100%;
							background:{
								color:rgba(54,54,54,.8);
							}
							font:{
								size:em(12);
							}
							@include media($notebook){
								font:{
									size:em(14);
								}
							}
						}
					}
					&:hover{
						.metaContent{
							.metaVsocial{
								@include transition(background .5s ease-in 0s);
								background:{
									color:rgba(54,54,54,1);
								}
							}
						}
					}
				}
			}
		}
		.btnVsocial{
			@include span-columns(4.5);
			@include omega();
			text:{
				align:center;
				transform: uppercase;
			}
			height: 50px;
			color:$white;
			@include display(flex);
			@include flex-direction(column);
			@include justify-content(center);
			background: {
				color:$red;
			}
			font:{
				weight:normal;
				size:em(12);
			}
			position: absolute;
			bottom: 0px;
			right: 0;
			z-index: 1;
			@include media($notebook){
				@incldue span-columns(2.625);
			}
		}
		.swiper-pagination{
			top:4px;
			bottom: inherit;
			text:{
				align:right;
			}
			.swiper-pagination-bullet{
				border: 1px solid $white;
				opacity: 1;
				background: none;
				width:12px;
				height: 12px;
				&.swiper-pagination-bullet-active{
					opacity: 1;
					background:{
						color:$white;
					}
				}
			}
		}
	}
}
.eventosContainer{
	.post{
		margin:{
			bottom:10px;
		}
		height:145px;
		overflow: hidden;
		position: relative;
		@include media($notebook){
			height: 362px;
			margin:{
				bottom:20px;
			}
		}
		a{
			display: block;
			width: 100%;
			height: 100%;
			.cont-title-page{
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 0;
				@include filter(grayscale(100%));
				background: {
					repeat:no-repeat;
					size:cover;
					position: center;
				}
			}
			h2{
				@extend .no-margins;
				@include pad(0 5px);
				@include display(flex);
				@include align-items(center);
				position: absolute;
				z-index: 1;
				left: 0;
				bottom: 0;
				min-height: 50px;
				background: {
					color:$red;
				}
				color:$white;
				font: {
					size:em(12);
					weight:normal;
				}
			}
			&:hover{
				.cont-title-page{
					@include transition(all .5s ease-in-out);
					@include filter(grayscale(0%));
				}
				h2{
					@include transition(all .4s ease-in-out);
					background: {
						color:$white;
					}
					color:$black;
				}
			}
		}
		.moreContent{
			position: absolute;
			width:100%;
			height: 50%;
			bottom:-200px;
			background:{
				color:rgba(255,255,255,.8);
			}
			color:$black;
			text:{
				align:center;
			}
			.shares-post{
				max-width:60%;
				margin: 20px auto;
				a{
					display: inline-block;
					color:$black;
					width:25px;
					font:{
						size:em(20);
					}
				}
			}
			.btn_more{
				clear:both;
				max-width:50%;
				margin: 0 auto;
				@include pad(10px 20px);
				border:2px solid $black;
				text:{
					transform:uppercase;
				}
				a{
					color:$black;
				}
			}
		}
		&:hover{
			.moreContent{
				@include transition(all .5s ease-in-out);
				bottom:0;
			}
		}
		&.tag-pequeno-izquierda{
			@include span-columns(4);
			height: 300px;
			.moreContent{
				bottom:-380px;
				height: 30%;
			}
			&:hover{
				.moreContent{
					@include transition(all .5s ease-in-out);
					bottom:0;
				}
			}
			@include media($notebook){
				height: 743px;
			}
		}
		&.tag-mediana{
			@include span-columns(8);
		}
		&.tag-cuadrado{
			@include span-columns(4);
		}
		&:nth-child(2n){
			@include omega();
		}
		&:nth-child(5n){
			@include omega();
			margin:{
				right:2.35765%;
			}
		}
	}
}
.vSocial-content{ 
	@include outer-container(100%);
	h2{
		@include row();
		width:100%;
		text:{
			align:center;
		}
		font:{
			family:$playFair;
			size:em(25);
			weight:normal;
		}
	}
	.sharecontent{
		@include outer-container(50%);
		.shares-post{
			@include row();
			width:100%;
			text:{
				align:center;
			}
			@include display(flex);
			@include flex-direction(row);
			@include justify-content(center);
			@include align-items(center);
			a{
				@include borderRadius(50%);
				display: table;
				color:$black;
				width:30px;
				height:30px;
				border:1px solid $black;
				margin:{
					right:5px;
				}
				text:{
					align:center;
				}
				i{
					display: table-cell;
					vertical-align: middle;
				}
				&:last-child{
					margin:{
						right:0;
					}
				}
				&:hover{
					@include transition(background, .5s);
					background:{
						color:$white;
					}
				}
			}
		}
	}
	p{
		@include outer-container(80%);
		img{
			width:100%;
			height: auto;
			display: block;
		}
	}
	.swipers{
		@include row();
		width:100%;
		background:{
			color:$black;
		}
		@include media(min-width 1441px){
			@include outer-container(75%);
		}
		.gallery-top{
			width:100%;
			height:300px;
			position: relative;
			overflow: hidden;
			.swiper-slide{
				overflow: hidden;
				max-height:500px;
				.metaVidaSocial{
					@include pad(10px 0);
					position: absolute;
					bottom:0;
					width:100%;
					background:{
						color:rgba(255,255,255,.5);
					}
					text:{
						align:center;
					}
					h1{
						@extend .no-margins;
						display: table;
						margin:0 auto;
						border:{
							bottom:3px solid $black;
						}
						font:{
							size:em(18);
							family:$playFair;
						}
						@include media($notebook){
							font:{
								size:(30);
							}
						}
					}
					p{
						margin:5px auto;
					}
					@include media($notebook){
						padding:{
							top:30px;
							bottom:30px;
						}
					}
				}
				img{
					width: auto;
					height: 100%;
					display: block;
					margin: 0 auto;
				}
			}
			.swiper-button-white{
				display: none;
			}
			@include media($notebook){
				height: 500px;
				.swiper-button-white{
					display: block;
				}
			}
		}
		.gallery-thumbs{
			@extend .gallery-top;
			width:100%;
			height: 100px;
			img{
				opacity:.4;
			}
			@include media($notebook){
				height: 200px;
			}
		}
	}
	.content_sociales{
		@include outer-container(95%);
		@include media($notebook){
			@include outer-container(75%);
		}
		.sharecontent{
			margin:{
				top:40px;
			}
			.shares-post{
				a{
					&:hover{
						@include transition(all, .5s);
						background:$black;
						color:$white;
					}
				}
			}
		}
	}
}