.woocommerce-page { 
	main {
		@include span-columns(12);
	    @include pad(10px);
	    @include media($notebook) {
	        @include span-columns(10);
	        @include shift(1);
	        padding:{top:0;left:0;right:0;bottom:50px;}
	    }
	    @include media($desktop) {
	        max-width:1119px;
	        margin:0 auto !important;
	        float:none;
	    }
		.button {
			@include span-columns(6); 
			display: block;
			margin: 0 auto;
			text:{align: center;transform: uppercase;}
			padding: 13px 10px;
			background: none;
			border: 1px solid $black_color;
			border-radius: 0;
			color: $black_color;
			&:hover {
				background: $black_color;
				border: 1px solid $black_color;
				color: $white_color;
			}
		}
		h1 {
			text:{transform:uppercase;}
			border-bottom:1px solid $black_color;  
		}
		.carro-compra {
			@include span-columns(12);
			@include pad(0);
			@include omega();
			form {
				table {
					border-radius:0px !important;
					thead {
						font:{size: 1.2em;}
						text:{transform:uppercase;}
					}
					tbody {
						.cart_item {
							font:{size: 1em;}
							.product-thumbnail {
								a {
									img {
										width: 65px;
   										display: block;
    									margin: 0 auto;
									}
								}
							}
							.product-remove {
								a {
									@include media($notebook) {
										width: 20px;
										display: block;
										margin: 0 auto;	
									}
								}
							} 
						}
						.coupon {
							@include span-columns(12);
							@include omega();
							@include media($notebook) {
								@include span-columns(5);
							}
							.input-text {
								@include span-columns(6);
								background: none;
								border:1px solid $black_color !important;
								padding: 13px 10px !important;
							}
						}
						.button {
							width: 100%;
							margin: 10px 0;  
							font:{size:0.9em !important;}
							@include media($notebook) {
								@include span-columns(3);
								float: right;
								margin: 15px 0; 
							}
						}		
					}
				}
			}
			.cart-collaterals {
				.cart_totals {
					h2 {
						font:{size: 1.2em;}
						text:{transform:uppercase;}
					}
					table {
						border-radius:0px !important;
						tbody {
							font:{size: 1em;}
							.shipping {
								form {
									p {
										a {
											color: red !important;
											font{size:1em;weight:bold;}
											text:{decoration:underline;}
										}
									}
								}
							}
						}

					}
					.wc-proceed-to-checkout {
						a {
							width: 100% !important;
							margin: 10px auto;
							text:{align: center;transform: uppercase;}
							padding: 13px 10px;
							border-radius: 0;
							background: $black_color;
							border: 1px solid $black_color;
							color: $white_color;
							font:{size:0.9em !important;}
							&:hover {
								background: none;
								border: 1px solid $black_color;
								color: $black_color;
							}	
							@include media($notebook) {
								width: 60% !important;
								float: right;
							}
						}
					}
				}
			}
		}
	}
	form {
		table {
			border-radius:0px !important;
			thead {
				font:{size: 1em;}
				text:{transform:uppercase;}
			}
			tbody {
				.cart_item {
					font:{size: 0.9em;}
					.product-thumbnail {
						a {
							img {
								width: 65px;
									display: block;
								margin: 0 auto;
							}
						}
					}
					.product-remove {
						a {
							@include media($notebook) {
								width: 20px;
								display: block;
								margin: 0 auto;	
							}
						}
					} 
				}
				.coupon {
					@include span-columns(12);
					@include omega();
					@include media($notebook) {
						@include span-columns(5);
					}
					.input-text {
						@include span-columns(6);
						background: none;
						border:1px solid $black_color !important;
						padding: 13px 10px !important;
					}
				}
				.button {
					width: 100%;
					margin: 10px 0;  
					@include media($notebook) {
						@include span-columns(3);
						float: right;
						margin: 15px 0; 
					}
				}		
			}
		}
	}
	.sidebar {
		display: none;
	}
}
.woocommerce-cart {
	.button {
		font:{size:1em !important;} 
	}
}  