.woocommerce {
    .woocommerce-info {
        font:{size:1em !important;}
        border-top-color:#fa4b2a ;
        &:before {
            color:#fa4b2a ;
        }
        .button {
            background: none;
            border: 1px solid #000;
            border-radius: 0;
            font:{size:0.8em;}
        }
        a {
            color:#fa4b2a !important;
            &:hover{
                text:{decoration: underline !important;}
            }
        }
    }
	.title-susc {
		@include span-columns(12);
		text:{transform:uppercase;}
		border-bottom:1px solid $black;  
		margin:{bottom:15px;}
		@include media($notebook) {
			margin:{bottom:30px;}
		}
	}
	h1 {
		margin:{top:20px;}
		margin:{bottom:5px;}
		font:{size: 1.2em;}
		@include media($notebook) {
			font:{size: 1.4em;}
		}
	}
	h2 {
		font:{size: 1em;}
		@include media($notebook) {
			font:{size: 1.2em;}
		}
	}		 
	p {
		font:{size:1em;}
		@include media($notebook) {
			font:{size:1em;}
		} 
		&.stock {
			&.in-stock {
				color:#fa4b2a !important;
			}
		}	
		&.myaccount_user {
			font:{size: 0.9em;}
    		line-height: 21px;
		}
	}
	.sku_wrapper {
		color: #ccc;
	}
	.post-edit-link {
		display: none;
	}
	.direccion-user {
		@include span-columns(12);
		@include omega();
		border:1px solid rgba(0,0,0,.1);
		padding: 10px;
		.address {
			@include span-columns(12);
			h3 {
				@include span-columns(12);
				@include omega();
				font:{size: 1.2em !important;}
				@include media($notebook) {
					font:{size: 1.2em !important;} 
					margin:{top:5px;bottom:5px;}
				}
			} 
			header {
				@include span-columns(12);
				@include omega();
				.button {
					@include span-columns(12);
					@include media($notebook) {
						@include span-columns(2);
						float:right;
						font:{size:0.8}
					}
				}
			}
			.address-table {
				@include span-columns(12);
				@include omega(); 
			}
			address {
				font:{size: 1em;}
	    		line-height: 23px;
			}	
		}
	}
	.content-center-cosas {
		@include span-columns(12);
		margin: 0;
		padding:10px; 
		@include media($notebook) {
			padding:{top:0;left:0;bottom:50px;right:0;} 
		}
		h3 {
			@include span-columns(12);
			@include omega();
			text:{transform:uppercase;}
			font:{size: 1em !important;}
			@include media($notebook) {
				font:{size: 1.2em !important;} 
			}
		}
		.form-row {
			width: 100% !important;
			font:{size:inherit;}
			@include media($notebook) {
				width: 100% !important;
			}
			label {
				font:{size: 1em !important;weight:bold;}
				color:$black_color;
			}
			.input-text  {
				background: none;
				border: 1px solid #ccc !important;  
				color: $black_color;
				padding: 10px;
				clear: none !important;
				font:{size: 1em;}
			}
			.clear {
				display: none !important;
			}
			&.validate-phone {
				float: left;
			}
		}
	}
	.form-row {
		width: 100% !important;
		font:{size:inherit;}
		@include media($notebook) {
			width: 50% !important;
		}
		label {
			font:{size: 1.2em !important;weight:bold;}
			color:$black_color;
		}
		.input-text  {
			background: none;
			border: 1px solid #ccc !important;  
			color: $black_color;
			padding: 10px;
			clear: none !important;
			font:{size: 1.4em;}
		}
		.clear {
			display: none !important;
		}
		&.validate-phone {
			float: left;
		}
		&.address-field {
			display: inline-block !important;
			width: 100% !important;
		}
		&#billing_country_field {
			@include media($notebook) {
				width: 50% !important;
			}
			#select2-chosen-1 {
				padding: 7px !important;
			}
		}
		&.notes {
			width: 100% !important;
			textarea {
				width: 100%;
			}
		}
	}
	.precio-menusal-box {
		width: 100%;
		text:{transform:uppercase;align:center;}
		font:{size: 0.9em;weight: bold;}
		color:#000;
		.price {
			color:#fa4b2a !important;
			text:{decoration:none !important;}
			font:{size: 0.9em !important;weight: bold !important;}
			width: auto !important;
    		display: inline !important;
    		padding: 0 5px;
		}
	}
	.button {
		display: block;
		margin: 0 auto;
		text:{align: center;transform: uppercase;}
		padding: 13px 10px;
		background: none;
		border: 1px solid $black_color;
		border-radius: 0;
		color: $black_color;
		outline: none !important;
		font:{size:0.9em !important;}
		&:hover {
			background: $black_color;
			border: 1px solid $black_color;
			color: $white_color;
		}
	}
	.woocommerce-breadcrumb {
		margin:{top:30px;}
		font:{size:1em !important;}
	}
	.woocommerce-message {
		font:{size:1em !important;}
		border-top-color:#fa4b2a;
		&:before {
			color:#fa4b2a;
		}
		.button {
			background: none;
			border: 1px solid #000;
			border-radius: 0;
			font:{size:0.8em;}
		}
	}
	.order-info {
		mark {
			background: none;
			color:#000;
			font:{weight:bold;style:italic;}
		}
	}
	.shop_table {
		&.order_details {
			thead {
				font:{size: 1.2em;}
				text:{transform:uppercase;}
			}
			tbody {
				font:{size: 1em;}
			}	
			tfoot {
				font:{size: 1em;}
			}
 		}
 		&.customer_details {
 			font:{size: 1em;}
 		}
	}
}
.empty-section {
	@include span-columns(12);
	height: 350px;
	display: table;
	text:{align: center;}
	@include media($notebook) {
		height: 400px;
	} 
	h2 {
		font:{size:2em;}
	}
	.button {
		display: block;
		margin: 0 auto;
		width: 250px;
		text:{align: center;transform: uppercase;}
		padding: 13px 10px;
		background: none;
		border: 1px solid $black_color;
		border-radius: 0;
		color: $black_color;
		font:{size:0.8em;}
		&:hover {
			background: $black_color;
			border: 1px solid $black_color;
			color: $white_color;
		}
		@include media($notebook) {
			@include outer-container(30%);
			margin:0 auto !important;
		}
		&.wc-backward {
			margin: 0 auto !important;
			float: none;
		}
	}
	.inside-empty-section {
		@include span-columns(12);
		float: none;
		display: table-cell;
		vertical-align: middle;
	}
}
.woocommerce p.stars a {
	color:red !important;
	font:{size: 20px;}
    margin: 0 3px;
}