.woocommerce {
    .account-forms{
        @include row();
        .form-user{
            @include span-columns(12);
            @include media($notebook){
                @include span-columns(6);
            }
            form[method="post"]{
                border-radius:0 !important;
                .form-row {
                    @include span-columns(12);
                    @include omega();
                    label {
                        font:{size: em(14) !important;weight:bold;}
                        color:$black_color;
                    }
                    .input-text  {
                        background: none;
                        border: 1px solid #ccc !important;  
                        color: $black_color;
                        padding: 10px;
                        clear: none !important;
                        font:{size: 1.4em;} 
                    }
                    .button {
                        @include span-columns(12);
                        margin:{top:5px;bottom:5px;}
                    }
                    .inline {
                        display: block;
                        clear: both;
                    }   
                }
                .lost_password {
                    @include media($notebook) {
                        text:{align:center;}
                    }
                } 
            }
        }
        .form-register{
            @extend .form-user;
        }
    }
	
}